/* ==========================================================================
Layout: Admin Login Page
========================================================================== */

.login-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: url(../img/bg/login-background.jpg) no-repeat left center / cover;
  background-color: #000;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0.75) 100%);
  }
}

.login-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 80px;
  width: 100%;
  max-width: 416px;
  height: 100%;
  overflow-y: auto;
  background-color: transparent;
  @include medium {
    max-width: 50%;
  }
  @include small {
    max-width: 100%;
    left: 0
  }
}

.login-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1;
}

.login-form {
  padding: 32px;
  display: table-cell;
  vertical-align: middle;
}

.logo-brand {
  display: block;
  position: relative;
  z-index: 2;
  font-size: 0;
  margin-bottom: 48px;
}

.logo-brand img {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  padding: 6px;
  @include retina {
    width: 50px;
    height: 50px;
  }
}

.logo-brand span {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 32px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  margin-left: 16px;
  @include retina {
    font-size: 20px;
  }
}

.login-title {
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
  color: #388e3c;
  span {
    color: #5f9e5f;
  }
}

.login-description {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 0;
}

.login-head {
  margin-bottom: 32px;
}

.login-input {
  margin-bottom: 24px;
  &::last-child {
    margin-bottom: 0;
  }
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}

label.input-label {
  font-size: 14px;
  line-height: 22px;
  display: block;
  color: #fff;
  margin-bottom: 8px;
}

.login-form .form-control:focus {
  border-color: #5f9e5f !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 14px 12px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-shadow: inset 0 0 0 transparent;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.user-profile {
  font-size: 0;
  line-height: 1;
  position: relative;
  top: -6px;
}

.user-profile-img-rounded {
  height: 34px;
  width: 34px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  border: solid 1px #ddd;
}

.user-profile-img-boxed {
  height: 80px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 8px;
  border: solid 1px #ddd;
}

.user-list-img-rounded {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 8px;
  overflow: hidden;
}

.user-list-img-boxed {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
  margin-right: 8px;
  overflow: hidden;
}

.user-list-img,
.user-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.user-info {
  display: inline-block;
  vertical-align:  middle;
  margin-left: 16px;
}

.table td {
  vertical-align: middle;
}

.login-button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #388e3c;
  border: 1px solid transparent;
  padding: 10px 12px;
  line-height: 1.4;
  font-size: 14px;
  color:  #fff;
  font-weight: 600;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-block {
  width: 100%;
  display: block;
}

.btn-success {
  background-color: #388e3c;
  border-color: rgb(51, 132, 69);
  box-shadow: none;
}
.btn-success:hover {
  background-color:  #2c6d2f;
  border-color:  #2c6d2f;
}