.best-product {
  $bp: &;
  position: relative;
  text-align: center;
  overflow: hidden;
  // padding: 144px 0 96px;
  padding: 64px;
  font-size: 0;
  @include large {
    padding: 112px 0 72px;
  }
  @include medium {
    padding: 88px 0 56px;
  }
  @include small {
    padding: 80px 0 44px;
  }
  @include extra-small {
    padding: 72px 0 40px;
  }
  // &__head {
  //   margin-bottom: 54px;
  //   @include medium {
  //     margin-bottom: 40px;
  //   }
  // }
  &__body {
    margin-right: -18px;
    margin-left: -18px;
    margin-bottom: 54px;
    position: relative;
    @include extra-small {
      margin-left: -24px;
      margin-right: -24px;
      white-space: nowrap;
      @include scroll(x, no-touch, hide);
      font-size: 0;
    }
  }
  &__list {
    @include clearfix;
    padding: 24px 0;
  }
  #{$bp}__card {
    float: left;
    width: 25%;
    padding: 18px;
    @include medium {
      width: 50%;
    }
    @include small {
      width: 100%;
    }
    @include extra-small {
      float: none;
      display: inline-block;
      vertical-align: top;
      max-width: 280px;
    }
    @include retina {
      max-width: 240px;
    }
  }
}
