/* ==========================================================================
Layouts Cart
========================================================================== */

.cart__empty {
  &__content {
    text-align: center;
    padding: 64px 0;
    @include small {
      padding: 48px 0;
    }
  }
  &__row {
    padding: 20px 0 0;
  }
}

.cart {
  padding: 120px 0 48px;
  padding: 64px 0;
  background-color: color(white);
  @include large {
    padding: 56px 0;
  }
  @include medium {
    padding: 48px 0;
  }
  @include small {
    padding: 32px 0;
  }
  @include retina {
    padding: 30px 0;
  }
  &__table,
  tr {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    border-bottom: solid 1px color(grey, 6);
    &-title {
      font-weight: fw(semi-bold);
      @include font-size(18);
      text-transform: uppercase;
      border-bottom: solid 1px color(grey, 5);
      padding-bottom: 8px;
      @include extra-small {
        @include font-size(14);
      }
      &:nth-child(2) {
        padding-left: 12px;
      }
      &:nth-child(3) {
        padding-left: 12px;
      }
      &:nth-child(4) {
        padding-right: 32px;
      }
    }
  }
  &__media {
    max-width: 546px;
    position: relative;
    padding: 20px 0;
    &__content {
      @include clearfix;
      padding: 20px 0;
    }
    &__delete-btn {
      position: absolute;
      top: 14px;
      left: 8px;
      bottom: 0;
      width: 40px;
      height: 40px;
      z-index: 2;
      border-radius: 50%;
      background-color: color(danger);
      color: color(white);
      border: none;
      outline: 0;
      padding: 0;
      margin: 0;
      cursor: pointer;
      i.rzfkomputer-trashcan {
        vertical-align: middle;
      }
      @include large {
        padding-left: 3px;
      }
      @include medium {
        padding-left: 0;
      }
      @include extra-small {
        width: 30px;
        height: 30px;
        top: 8px;
        left: 0;
        background-color: color(danger);
        color: color(white);
        i.rzfkomputer-trashcan {
          font-size: 12px;
        }
      }
    }
    &__img-wrapper {
      padding-bottom: 40%;
      width: 100px;
    }
    &__img-el {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 20px 0;
    }
    &__name {
      float: left;
      padding: 34px 0;
      margin-bottom: 0;
      padding: 6px 12px 0;
      @include extra-small {
        @include font-size(12);
        width: 92px;
      }
    }
    &__price {
      margin-bottom: 0;
      @include extra-small {
        @include font-size(12);
        white-space: nowrap;
        padding: 0 6px 0 12px;
      }
    }
    &__total {
      margin-bottom: 0;
      @include font-size(16);
      font-weight: fw(regular);
      @include extra-small {
        @include font-size(14);
      }
      @include retina {
        white-space: nowrap;
      }
      @include extra-small {
        td:nth-child(2) {
          display: none;
        }
      }
    }
    &__product-count {
      padding: 12px 0;
      position: relative;
      @include medium {
        max-width: 40px;
        padding-left: 14px;
      }
    }
    &__input-qty {
      width: 40px;
      height: 44px;
      outline: 0;
      border: solid 2px color(grey, 5);
      text-align: center;
      border-radius: 8px;
      transition: all 350ms ease;
      @include font-size(16);
      @include medium {
        width: 34px;
        height: 34px;
        padding: 4px;
        @include font-size(14);
      }
      @include extra-small {
        @include font-size(12);
      }
      &:focus {
        border: solid 2px color(green, 1);
      }
    }
    &__btn-chevron-down, &__btn-chevron-up {
      width: 40px;
      height: 44px;
      border: none;
      outline: 0;
      border-radius: 8px;
      background-color: #fafafa;
      border: 1px solid color(grey, 5);
      transition: all 150ms ease;
      @include medium {
        width: 34px;
        height: 34px;
        margin: 8px 0;
        @include font-size(12);
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: #f2f2f2;
      }
    }
    &__btn-min {
      top: 0;
      i.rzfkomputer-minus, i.rzfkomputer-add {
        vertical-align: middle;
      }
    }
    &__btn-plus {
      bottom: 0;
      i.rzfkomputer-add {
        vertical-align: middle;
      }
    }
  }
}   


.checkout {
  padding: 64px 0;
  @include large {
    padding: 56px 0;
  }
  @include medium {
    padding: 48px 0;
  }
  @include small {
    padding: 32px 0;
  }
  @include retina {
    padding: 30px 0;
  }
  &__wrapper {
    @include clearfix;
  }
  &__form {
    float: left;
    width: 50%;
    @include small {
      width: 100%;
    }
    &-title {
      @include font-size(18);
      margin-bottom: 2.4rem;
      text-transform: uppercase;
    }
  }

  &__summary {
    float: left;
    width: 50%;
    padding: 24px 0 0 24px;
    @include small {
      width: 100%;
      padding: 24px 0;
    }
  }
  &__box {
    padding: 24px;
    background-color: color(green, 3);
    text-align: left;
    border-radius: 8px;
  }
  &__title {
    @include font-size(18);
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 8px;
    text-transform: uppercase;
    border-bottom: 2px solid color(grey, 5);
    @include extra-small {
      @include font-size(14);
    }
  }
  &__table {
    &-list {
      padding-bottom: 18px;
      font-weight: 700;
    }
    &-name {
      border: none;
      padding: 12px 0;
    }
    &-count {
      padding-left: 20px;
    }
    &-price {
      padding: 6px 0;
    }
    &-name, &-count, &-price {
      @include font-size(14);
      @include extra-small {
        @include font-size(12);
      }
    }
    &-price {
      @include medium {
        white-space: nowrap;
      }
      @include extra-small {
        @include font-size(12);
        white-space: nowrap;
      }
    }
    th {
      padding: 12px 0;
      font-weight: fw(semi-bold);
      @include font-size(16);
      @include extra-small {
        @include font-size(12);
      }
      &:nth-child(2) {
        padding: 12px 16px 12px 0;
        @include retina {
          padding: 12px 12px 12px 0;
        }
      }
    }
    tr {
      border-bottom: solid 1px color(grey, 5);
    }
  }
}
.table-total {
  padding: 20px 0;
  @include extra-small {
    width: 100vw;
  }
}

