/* ==========================================================================
   Layouts Cart
   ========================================================================== */

.cart {
   padding: 120px 0 48px;
   padding: 64px 0;
   background-color: color(white);
   @include large {
       padding: 56px 0;
    }
    @include medium {
       padding: 48px 0;
    }
    @include small {
       padding: 32px 0;
    }
    @include retina {
       padding: 30px 0;
    }
   &__table,
   tr {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 0;
      font-size: 12px;
      line-height: 1.2;
      font-weight: normal;
      td {
         padding: 20px 0;
         border-bottom: solid 1px color(grey, 6);
      }
      &-title {
         font-weight: fw(semi-bold);
         @include font-size(18);
         padding-bottom: 12px;
         text-transform: uppercase;
         border-bottom: solid 1px color(grey, 6);
      }
   }
   &__media {
      max-width: 546px;
      position: relative;
      &__content {
         @include clearfix;
      }
      &__delete-btn {
         position: absolute;
         top: 0;
         left: 8px;
         bottom: 0;
         width: 45px;
         height: 40px;
         border-radius: 50%;
         background-color: color(danger);
         width: 40px;
         color: color(white);
         outline: 0;
         border: none;
         padding: 0;
         margin: 0;
         cursor: pointer;
      }
      &__img-wrapper {
         float: left;
      }
      &__img-el {
         width: 210px;
         display: block;
         border-radius: 8px;
      }
      &__name {
         float: left;
         padding: 34px 0;
         margin-bottom: 0;
         padding-left: 20px;
         @include medium {
            display: none;
         }
      }
      &__price {
         margin-bottom: 0;
         @include extra-small {
            @include font-size(14);
            padding-left: 12px;
         }
      }
      &__total {
         margin-bottom: 0;
         @include font-size(16);
         font-weight: fw(regular);
         @include extra-small {
            @include font-size(14);
         }
      }
      &__product-count {
         padding: 12px 0;
         position: relative;
         @include extra-small {
            max-width: 40px;
            padding-left: 24px;
         }
      }
      &__input-qty {
         width: 40px;
         height: 44px;
         padding: 8px 6px;
         outline: 0;
         border: solid 2px color(grey, 5);
         text-align: center;
         border-radius: 8px;
         transition: all 350ms ease;
         @include extra-small {
            width: 30px;
            height: 30px;
            padding: 4px;
            @include font-size(12);
         }
         &:focus {
            border: solid 2px color(green, 1);
         }
      }
      &__btn-chevron-down, &__btn-chevron-up {
         width: 40px;
         height: 44px;
         border: none;
         outline: 0;
         margin-right: 4px;
         border-radius: 8px;
         background-color: #fafafa;
         border: 1px solid color(grey, 5);
         transition: all 150ms ease;
         @include extra-small {
            width: 30px;
            margin: 8px 0;
            height: 30px;
            @include font-size(12);
         }
         &:last-child {
            margin-right: 0;
         }
         &:hover {
            background-color: #f2f2f2;
         }
      }
      &__btn-min {
         top: 0;
      }
      &__btn-plus {
         bottom: 0;
      }
   }
}   


.checkout {
   padding: 64px 0;
    @include large {
     padding: 56px 0;
   }
   @include medium {
     padding: 48px 0;
   }
   @include small {
     padding: 32px 0;
   }
   @include retina {
     padding: 30px 0;
   }
   &__wrapper {
      @include clearfix;
   }
   &__form {
      float: left;
      width: 50%;
      @include small {
         width: 100%;
      }
      &-title {
         @include font-size(18);
         margin-bottom: 2.4rem;
         text-transform: uppercase;
      }
   }

   &__summary {
      float: left;
      width: 50%;
      padding: 24px 32px;
      @include small {
         width: 100%;
         padding: 32px 0;
      }
   }
   &__box {
      padding: 32px;
      background-color: color(green, 3);
      text-align: left;
      border-radius: 8px;
   }
   &__title {
      @include font-size(18);
      text-align: left;
      margin-bottom: 24px;
      text-transform: uppercase;
   }
   &__table {
      width: 100%;
      &-list {
         padding-bottom: 18px;
      }
      &-name {
         padding-left: 12px;
      }
      &-count {
         padding-left: 18px;
      }
      &-price {
         padding: 6px 0;
      }
      &-name, &-count, &-price {
         @include font-size(14);
         @include extra-small {
         @include font-size(12);
         }
      }
      &-price {
         @include extra-small {
            @include font-size(12);
         }
      }
      th {
         padding: 12px 0;
         font-weight: fw(regular);
         @include extra-small {
            @include font-size(12);
         }
      }
      tr {
         border-bottom: solid 1px color(grey, 5);
      }
   }
}

