/* ==========================================================================
   Layouts Contact
   ========================================================================== */

.contact {
  padding: 64px 0;
  text-align: center;
  @include large {
    padding: 56px 0;
  }
  @include medium {
    padding: 48px 0;
  }
  @include small {
    padding: 32px 0;
  }
  @include retina {
    padding: 30px 0;
  }
  &__logo {
    margin: 0 0 36px;
    img {
      display: inline-block;
      width: 60px;
      height: 60px;
    }
  }
  &__text {
    display: inline-block;
    text-align: center;
    width: 660px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    span {
      font-weight: 700;
    }
    @include small {
      width: 100%;
    }
    &__title {
      font-family: $font-title;
      font-size: 38px;
      line-height: 1.3;
      font-weight: 700;
      margin: 0 0 24px;
      text-transform: uppercase;
      @include small {
        font-size: 28px;
      }
    }
    &__desc {
      margin: 0 0 80px;
      color: color(black, 1);
      span {
        display: block;
      }
      @include small {
        font-size: 16px;
      }
    }
  }
  &__wrapper {
    background-color: color(white);
    position: relative;
    height: 580px;
    @include medium {
      height: auto;
    }
  }
  &__title {
    font-size: 24px;
    margin: 0 0 24px;
    text-align: left
  }
  &__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: zi(map);
    width: 50%;
    height: 100%;
    iframe {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    @include medium {
      position: static;
      width: 100%;
      height: 380px;
    }
  }
  &__form {
    float: left;
    width: 50%;
    padding: 16px 32px 16px 0;
    @include medium {
      float: none;
      width: 100%;
      padding: 40px 0;
    }
  }
}