/* ==========================================================================
   Layouts Persuasive
   ========================================================================== */

.persuasive {
   position: relative;
   padding: 64px 0;
  @include large {
    padding: 56px 0;
   }
  @include medium {
    padding: 48px 0;
  }
  @include small {
    padding: 32px 0;
  }
  @include extra-small {
   height: 320px;
 }
   @include retina {
     padding: 30px 0;
   }
   &__wrapper {
      display: table;
   }
   &__img {
      float: left;
      width: 100%;
      &-el {
         display: block;
      }
      @include extra-small {
         display: none;
      }
   }
   &__txt {
      display: table-cell;
      vertical-align: middle;
      padding-left: 48px;
      @include small {
         padding: 32px 0;
         display: inline-block;
      }
      &-title,
      &-desc {
         text-transform: uppercase;
      }
      &-title {
         @include font-size(32);
         margin-bottom: 24px;
         @include small {
            @include font-size(24);
         }
      }
      &-desc {
         @include font-size(16);
         margin-bottom: 32px;
         @include small {
            @include font-size(14);
         }
      }
   }
   &__vertical-txt span {
      text-orientation: 150deg;
      writing-mode: vertical-lr;
      // transform: rotate(180deg);
      transform: rotate(-180deg);
      font-size: 70px;
      font-weight: fw(semi-bold);
      left: -780px;
      bottom: 24px;
      position: absolute;
      text-transform: uppercase;
      -webkit-text-stroke: 1px color(green, 1);
      -webkit-text-fill-color: transparent;
      position: relative;
      opacity: 0.4;
      height: auto;
      z-index: 0;
   }
}

