/* ==========================================================================
   Layouts: Product Detail
   ========================================================================== */

.pdetail {
   padding: 120px 0;
   @include small {
      padding: 60px 0;
   }
   &__row {
      @include clearfix;
   }
   &__img {
      float: left;
      width: 50%;
      @include small {
         width: 100%;
      }
   &-wrapper {
      padding: 20px 0;
      margin-right: 24px;
      max-width: 520px;
      @include small {
         width: 100%;
      }
   }
   &-el {
      display: block;
   }
}
   &__form {
      float: left;
      width: 50%;
      @include small {
         width: 100%;
      }
      &__name {
         @include font-size(24);
      }
      &__summary {
         @include font-size(14);
         margin-bottom: 18px;
      }
   }
   &__form {
      &__price,
      &__count {
         @include font-size(16);
         margin-right: 64px;
         margin-bottom: 8px;
      }
      &__count-wrapper {
         padding: 12px 0;
         @include font-size(16);
         border-top: 1px solid color(grey, 5);
      }
      &__row {
         margin-bottom: 0;
         padding: 12px 0;
      }

      &__min,
      &__max {
         background-color: transparent;
         outline: 0;
         padding: 0;
         margin: 0;
         padding: 8px;
         cursor: pointer;
         border: 1px solid color(grey, 5);
         background-color: #fafafa;
      }
      &__quantity {
         outline: 0;
         border: none;
         padding: 8px;
         max-width: 44px;
         border: 1px solid color(grey, 5);
         text-align: center;
      }
      &__row {
         i.rzfkomputer-cart {
            padding-right: 12px;
         }
      }
      .btn--cart {
         padding: 12px 24px;
      }
   }
}


// ===== Tabbing ===== //

@keyframes "accordion" {
   from {
      transform: translateY(8px);
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}
.nav-tab {
   margin: 0 auto;
   padding: 0 20px;
   list-style: none;
   font-size: 0;
   text-align: center;
   position: relative;
   @include shadow(10);
   @include remove-tap-highlight;
}
.tab-item {
   display: inline-block;
   position: relative;
   padding: 20px 0;
   margin: 0 46px;
   cursor: pointer;
   @include font-size(18);
   font-weight: 600;
   color: color(black, 2);
   text-decoration: none;
   transition: all .2s ease;
   text-align: left;
   text-transform: uppercase;
   &::after {
      content: '';
      position: absolute;
      left: 28px;
      right: 0;
      bottom: 0;
      transform: scale(0);
      display: block;
      width: 36px;
      height: 2px;
      transition: all .4s ease;
      background-color: color(green, 1);
   }
   &:hover {
      color: color(green, 1);
   }
   &.active {
      color: color(green, 1);
      &::after {
         transform: scale(1);
      }
   }
   @include extra-small {
      margin: 0 20px;
      @include font-size(16);
   }
   @include retina {
      margin: 0 10px;
   }
}
.tab-content {
   position: relative;
   display: inline-block;
   text-align: left;
   width: 100%;
   padding: 44px 0;
}
.tab-pane {
   display: none;
   transition: all .4s ease;
   &__name {
      @include font-size(24);
      text-transform: uppercase;
      @include extra-small {
         @include font-size(18);
      }
   }
   &__desc {
      margin: 0;
      @include font-size(18);
      @include extra-small {
         @include font-size(14);
      }
   }
   &.active {
      display: block;
      animation: accordion .4s ease-in-out .2s both;
   }
   &__list {
      list-style: none;
      padding: 0;
      margin: 0;
   }
   &__item {
      margin-bottom: 20px;
      @include font-size(18);
   }
}

//  ========================== //


table {
   width: 100%;
   border-radius: 8px;
th,
td {
   border: solid 1px color(grey, 5);
   padding: 11px 10px;
}
th, td {
   width: 960px;
   font-weight: 400;
   &.skin-grey {
      background-color: color(grey, 4);
   }
   &.skin-light {
      background-color: color(white);
      }
   }
}
