/* ==========================================================================
   Layouts Product
   ========================================================================== */

.product {
   &__wrapper {
      margin-left: -12px;
      margin-right: -12px;
   }
   &__sorting {
    background-color: color(green, 3);
    width: 100%;
    padding: 20px 0;
    position: relative;
    border-radius: 8px;
    &-select {
      background-color: color(white);
      position: relative;
      padding: 8px 12px;
      max-width: 160px;
      margin-left: 24px;
      border-radius: 8px;
      cursor: pointer;
    }
    &-title {
      text-align: center;
      color: black;
      margin: 0;
      @include font-size(14);
      text-align: left;
      &::after {
        position: absolute;
        content: '\e914';
        font-family: rzfkomputer-icons;
        @include font-size(18);
        right: 8px;
        top: 6px;
      }
    }
    &-list {
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      z-index: 3;
      padding: 16px 12px;
      @include shadow(14);
      min-width: 160px;
      border-radius: 8px;
      top: 48px;
      left: 0;
      background-color: color(white);
      @include remove-tap-highlight;
    }
    &-item {
      text-align: left;
      margin-bottom: 12px;
      cursor: pointer;
      transition: all 150ms ease;
        @include font-size(14);
      &:hover {
        color: color(green, 1);
      }
    &:last-child {
      margin-bottom: 0;
      }
    }
  }

   .card-product__card {
      width: 25%;
      @include small {
         width: 50%;
      }
      &__box {
         @include small {
            min-height: 240px;
         }
      }
      &__title {
      @include font-size(18);
      font-weight: fw(semi-bold);
      @include multiline-ellipsis(1);
      transition: all 250ms ease;
      @include medium {
        white-space: normal;
      }
      @include small {
        @include font-size(14);
      }
    }
    &__percentage, &__priceCarret {
      margin-bottom: 8px;
      @include small {
       margin: 0;
    }
 }
       &__percentage {
         @include font-size(16);
         font-weight: fw(semi-bold);
         background-color: color(green, 3);
         color: color(green, 1);
         margin-right: 12px;
         border-radius: 4px;
         display: inline-block;
         width: 40px;
         text-align: center;
         @include extra-small {
           @include font-size(14);
           margin-right: 4px;
        }
      }
      &__price-carret {
         @include font-size(14);
         text-decoration: line-through;
         @include extra-small {
           @include font-size(10);
        }
      }
      &__price-product {
         @include font-size(20);
         font-weight: fw(semi-bold);
         margin: 0;
         @include extra-small {
           @include font-size(16);
        }
      }
   }
}