/* ==========================================================================
   Layouts: Product Detail
   ========================================================================== */

.pdetail {
   padding: 64px 0;
   @include large {
    padding: 56px 0;
   }
    @include medium {
       padding: 48px 0;
    }
    @include small {
       padding: 32px 0;
    }
    @include retina {
       padding: 30px 0;
    }
   &__row {
      @include clearfix;
   }
   &__img {
      float: left;
      width: 50%;
      @include large {
         width: 100%;
      }
   &-fill {
      margin-bottom: 8px;
      width: 100%;
      @include large {
         width: 100%;
      }
      @include medium {
         margin-bottom: 4px;
      }
   }
   &-detail {
      @include clearfix;
      @include scroll(x, no-touch, hide);
      margin-left: -16px;
      margin-right: -16px;
      padding: 8px;
      @include medium {
         margin-left: -12px;
         margin-right: -12px;
      }
   }
   &-box {
      width: 33.3333333%;
      float: left;
   }
   &-img {
      margin: 0 8px;
      // @include shadow(10);
      border: solid 1px color(grey, 5);
      border-radius: 8px;
      @include remove-tap-highlight;
      @include extra-small {
         margin: 0 6px;
      }
   }
   &-el {
   border-radius: 8px;
   display: block;
   @include large {
      width: 100%;
         }
      }
   }
   &__form {
      float: left;
      width: 50%;
      padding: 64px 0 0 48px;
      @include large {
         padding: 48px 0 0;
      }
      @include small {
         width: 100%;
         padding: 32px 0 0;
      }
      &__name {
         @include font-size(24);
      }
      &__summary {
         @include font-size(14);
         margin-bottom: 18px;
      }
   }
   &__form {
      &__price,
      &__count,
      &__category,
      &__inventory, {
         @include font-size(16);
         margin-right: 64px;
         margin-bottom: 8px;
      }
      &__count-wrapper {
         padding: 12px 0;
         @include font-size(16);
         border-top: 1px solid color(grey, 5);
      }
      &__row {
         margin-bottom: 0;
         padding: 12px 0;
      }

      &__min,
      &__max {
         outline: 0;
         margin: 0;
         width: 40px;
         height: 44px;
         cursor: pointer;
         border: 1px solid color(grey, 5);
         background-color: #fafafa;
         border-radius: 8px;
         transition: all 150ms ease;
         &:hover {
            background-color: #f2f2f2;
         }
      }
      &__quantity {
         outline: 0;
         border: none;
         padding: 8px;
         margin: 0 6px;
         max-width: 44px;
         border: 2px solid color(grey, 5);
         text-align: center;
         border-radius: 8px;
         transition: all 350ms ease;
         &:focus {
            border: solid 2px color(green, 1);
         }
      }
      &__row {
         i.rzfkomputer-cart {
            padding-right: 12px;
         }
      }
      .btn--cart {
         width: 70%;
         @include small {
            width: 90%;
         }
      }
   }
   &__related-product {
      padding: 120px;
   }
}


// ===== Tabbing ===== //

@keyframes "accordion" {
   from {
      transform: translateY(8px);
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}

.pdetail__tab {
   &__nav-tab {
      margin: 0 auto;
      padding: 0 20px;
      list-style: none;
      font-size: 0;
      text-align: center;
      position: relative;
      @include shadow(10);
      @include remove-tap-highlight;
   }
   .tab-item {
      display: inline-block;
      position: relative;
      padding: 20px 0;
      margin: 0 46px;
      cursor: pointer;
      @include font-size(18);
      font-weight: 600;
      color: color(black, 2);
      text-decoration: none;
      transition: all .2s ease;
      text-align: left;
      text-transform: uppercase;
      &::after {
         content: '';
         position: absolute;
         left: 24px;
         right: 0;
         bottom: 0;
         transform: scale(0);
         display: block;
         width: 36px;
         height: 2px;
         transition: all .4s ease;
         background-color: color(green, 1);
      }
      &:hover {
         color: color(green, 1);
      }
      &.active {
         color: color(green, 1);
         &::after {
            transform: scale(1);
         }
      }
      @include extra-small {
         margin: 0 20px;
         @include font-size(16);
      }
      @include retina {
         margin: 0 10px;
      }
   }
   .tab-content {
      position: relative;
      display: inline-block;
      text-align: left;
      width: 100%;
      padding: 44px 0;
   }
   .tab-pane {
      display: none;
      transition: all .4s ease;
      &__name {
         @include font-size(24);
         text-transform: uppercase;
         @include extra-small {
            @include font-size(18);
         }
      }
      &__desc {
         margin: 0;
         @include font-size(18);
         @include extra-small {
            @include font-size(14);
         }
      }
      &.active {
         display: block;
         animation: accordion .4s ease-in-out .2s both;
      }
      &__list {
         list-style: none;
         padding: 0;
         margin: 0;
      }
      &__item {
         margin-bottom: 20px;
         @include font-size(18);
      }
   }

  //  ========================== //

  .customers {
    border-collapse: collapse;
    width: 100%;
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 50%;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding: 12px;
    text-align: left;
    color: white;
  }
}
