/* ==========================================================================
   Layouts Product
   ========================================================================== */

.product {
   &__wrapper {
      margin-left: -12px;
      margin-right: -12px;
   }
   .card-product__card {
      width: 25%;
      @include small {
         width: 50%;
      }
      &__box {
         @include small {
            min-height: 240px;
         }
      }
      &__title {
      @include font-size(18);
      font-weight: fw(semi-bold);
      @include multiline-ellipsis(1);
      transition: all 250ms ease;
      @include medium {
        white-space: normal;
      }
      @include small {
        @include font-size(14);
      }
    }
    &__percentage, &__priceCarret {
      margin-bottom: 8px;
      @include small {
       margin: 0;
    }
 }
       &__percentage {
         @include font-size(16);
         font-weight: fw(semi-bold);
         background-color: color(green, 3);
         color: color(green, 1);
         margin-right: 12px;
         border-radius: 4px;
         display: inline-block;
         width: 40px;
         text-align: center;
         @include extra-small {
           @include font-size(14);
           margin-right: 4px;
        }
      }
      &__price-carret {
         @include font-size(14);
         text-decoration: line-through;
         @include extra-small {
           @include font-size(10);
        }
      }
      &__price-product {
         @include font-size(20);
         font-weight: fw(semi-bold);
         margin: 0;
         @include extra-small {
           @include font-size(16);
        }
      }
   }
}