/* ==========================================================================
   Layouts Product
   ========================================================================== */

 .product {
  $ps: &;
  position: relative;
  &__wrapper {
    margin-left: -12px;
    margin-right: -12px;
  }
  &__sorting {
    background-color: color(green, 3);
    padding: 20px 0;
    position: relative;
    border-radius: 8px;
    margin: 0 12px 24px;
    transition: all 350ms ease;
    @include clearfix;
    &-select {
      background-color: color(white);
      position: relative;
      padding: 8px 12px;
      z-index: 3;
      max-width: 160px;
      margin-left: 24px;
      border-radius: 8px;
      cursor: pointer;
      @include remove-tap-highlight;
      transform: translate(0);
      @include mq(1440px) {
        margin-left: 0;
      }
      @include mq(1280px) {
        margin-left: 24px;
      }
    }
    &-title {
      text-align: center;
      color: black;
      margin: 0;
      @include font-size(14);
      color: color(black, 2);
      text-align: left;
      &::after {
        position: absolute;
        content: '\e914';
        font-family: rzfkomputer-icons;
        @include font-size(18);
        right: 8px;
        top: 6px;
        transition: all 350ms ease;
      }
    }
    &-list {
      position: absolute;
      z-index: 3;
      @include shadow(14);
      min-width: 160px;
      border-radius: 8px;
      top: 48px;
      left: 0;
      background-color: color(white);
      @include remove-tap-highlight;
      transition: all 150ms ease;
      transform: scale(0.6);
      visibility: hidden;
      opacity: 0;
    }
    &-link {
      text-decoration: none;
      display: block;
      @include font-size(14);
      padding: 8px 16px;
      margin-bottom: 8px;
      transition: all 350ms ease;
      text-align: left;
        &:hover {
          background-color: color(grey, 4);
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    &--showed {
     #{$ps}__sorting-list {
      visibility: visible;
      opacity: 1;
      transform: none;
      }
       #{$ps}__sorting-title {
        &::after {
          transform: rotateX(180deg);
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  transform: translate(0);
  width: 100%;
  left: 0;
  z-index: 8;
  margin: 0;
  transition: all 350ms ease;
  @include large {
    left: 0;
    right: 0;
  }
  @include extra-small {
    border-radius: 0;
    width: 100%;
  }
  .product__sorting-select {
    transform: translate(100%, 0);
    @include mq(1680px) {
      transform: translate(10vw, 0);
    } 
    @include mq(1300px) {
      transform: translate(30%);
    }
    @include mq(1280px) {
      transform: translate(20%);
    }
  }
}