/* ==========================================================================
   Layouts: Sale
   ========================================================================== */

.sale {
  text-align: center;
  position: relative;
  padding: 64px 0;
  @include large {
    padding: 56px 0;
  }
  @include medium {
    padding: 48px 0;
  }
  @include small {
    padding: 32px 0;
  }
  @include retina {
    padding: 30px 0;
  }
  &__logo {
    margin: 0 0 36px;
    img {
      display: inline-block;
      width: 60px;
      height: 60px;
    }
  }
  &__text {
    display: inline-block;
    text-align: center;
    width: 660px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    span {
      font-weight: 700;
    }
    @include small {
      width: 100%;
    }
    &__title {
      font-family: $font-title;
      font-size: 38px;
      line-height: 1.3;
      font-weight: 700;
      margin: 0 0 24px;
      text-transform: uppercase;
      @include small {
        font-size: 28px;
      }
    }
    &__desc {
      margin: 0 0 80px;
      color: color(black, 1);
      span {
        display: block;
      }
      @include small {
        @include font-size(16);
      }
    }
  }
  &__content {
    background-color: color(grey, 3);
    position: relative;
    height: 580px;
    @include medium {
      height: auto;
    }
  }
  &__title {
    font-size: 24px;
    margin: 0 0 24px;
    text-align: center;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    &::after {
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      content: '';
      position: absolute;
      background: color(overlay);
    }
    &-el {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
    @include medium {
      position: static;
      width: 100%;
      height: 380px;
    }
    @include small {
      height: 420px;
    }
  }
}