/* ==========================================================================
   Layouts: Status Pemesanan
   ========================================================================== */

.order {
  padding: 64px 0;
  text-align: center;
  @include large {
    padding: 56px 0;
  }
  @include medium {
    padding: 48px 0;
  }
  @include small {
    padding: 32px 0;
  }
  @include retina {
    padding: 30px 0;
  }
  &__title {
    @include font-size(24);
    font-weight: fw(semi-bold);
  }
  &__form {
    margin: 0 auto;
    width: 50%;
    @include large {
      width: 100%;
    }
  }
  &__box {
    display: none;
    width: 100%;
    max-width: 720px;
    margin-right: 48px;
    padding: 32px 148px 56px;
    margin: 48px auto 0;
    background-color: color(green, 3);
    border-radius: 8px;
    @include medium {
      padding-right: 96px;
      padding-left: 96px;
    }
    @include small {
      padding: 32px;
    }
  }
  &__title {
    margin-bottom: 32px;
    @include small {
      margin-bottom: 24px;
    }
  }
  &__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    &.active {
      &::before {
        border-color: 2px solid color(green, 1);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 18.5px;
      z-index: 1;
      height: 220px;
      border-left: 2px solid color(green, 1);
      border-left: 2px solid color(green, 1);
      @include extra-small {
        top: 4px;
        height: 100%;
      }
    }
  }
  &__item {
    position: relative;
    font-weight: fw(semi-bold);
    padding-left: 56px;
    margin-bottom: 40px;
    &.active {
      &::before {
        border-color: color(green, 1);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #ddd;
      background-color: color(white);
    }
    &.active {
        &::after {
        background-color: color(green, 1);
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 6px;
      z-index: 4;
      transform: translateY(-50%);
      width: 28px;
      background-color: #ddd;
      height: 28px;
      border-radius: 50%;
    }
  }
  &__link {
    display: block;
    text-decoration: underline;
    font-weight: fw(bold);
    color: color(green, 1);
  }
  .fi-alert {
    left: 50%;
    transform: translateX(-50%);
  }
  .form__input {
    text-align: center;
    max-width: 680px;
    margin-bottom: 24px;
    @include font-size(16);
  }
  .form__desc {
    margin-bottom: 32px;
    @include small {
      margin-bottom: 16px;
    }
  }
  .btn--payment {
    width: 100%;
  }
}
