//- //-------------------------------------------------------------------------------
//-   @name: Contact List
//-   -------------------------------------------------------------------------------//

//- -
//-   cartItem = {
//-     icons: [
//-       {
//-         class: 'product-detail.html',
//-         text: 'Alamat',
//-         address: 'Jl. Raya Darma KM. 11, Dusun Gunungluhur, Desa Darma Kec. Darma, Kab. Kuningan Jawa Barat 45562'
//-       },
//-       {
//-         class: 'our-product-2.jpg',
//-         text: 'Telepon',
//-         address: 'Jl. Raya Darma KM. 11, Dusun Gunungluhur, Desa Darma Kec. Darma, Kab. Kuningan Jawa Barat 45562'
//-       },
//-       {
//-         class: 'our-product-3.jpg',
//-         text: 'Email',
//-         address: 'Jl. Raya Darma KM. 11, Dusun Gunungluhur, Desa Darma Kec. Darma, Kab. Kuningan Jawa Barat 45562'
//-       },
//-     ]
//-   };

//- include ../../layouts/cart.pug