-
  dataTitle = {
    pattern: true,
    title: 'Produk',
    desc: 'Beberapa produk yang kami miliki. Memahami kebutuhan Anda sebagai pelaku bisnis, atau untuk kebutuhan pribadi'
  };

include ../../components/title-page.pug