//-------------------------------------------------------------------------------
  @name: Contact Button
  -------------------------------------------------------------------------------//

='\n'
// Contact Button
.rzfk-contact.js-contact-dd
  .rzfk-contact__wrapper
    ='\n'
    button.rzfk-contact__btn
      ='\n'
      i.rzfkomputer-whatsapp
      ='\n'
    ul.rzfk-contact__menu
      li.rzfk-contact__item
        ='\n'
        a.rzfk-contact__link(href="https://api.whatsapp.com/send?phone=6285864772042&text=Hi%20RZF Komputer") Purwanto
      li.rzfk-contact__item
        ='\n'
        a.rzfk-contact__link(href="https://api.whatsapp.com/send?phone=6285864772039&text=Hi%20RZF Komputer") Nopitasari
    ='\n'
='\n'
// Contact Button
