//-------------------------------------------------------------------------------
  @name: Contact Button
  -------------------------------------------------------------------------------//

// Contact Button
.rzfkomputer-contact.js-contact-dd
  .rzfkomputer-contact__wrapper
    button.rzfkomputer-contact__btn
      i.rzfkomputer-whatsapp
    ul.rzfkomputer-contact__menu
      li.rzfkomputer-contact__item
        a.rzfkomputer-contact__link(href="https://api.whatsapp.com/send?phone=6289664234924&text=Hi%20RZF Komputer") CS Admin 1 (Purwanto)
      li.rzfkomputer-contact__item
        a.rzfkomputer-contact__link(href="https://api.whatsapp.com/send?phone=6282240819972&text=Hi%20RZF Komputer") CS Admin  2 (Nopitasari)
    ='\n'
='\n'
// Contact Button
