//-------------------------------------------------------------------------------
  @name: Contact Button
  -------------------------------------------------------------------------------//

='\n'
// floating-chat
.floating-chat.js-floating-chat-dd
  .floating-chat__wrapper
    ='\n'
    button.floating-chat__btn
      ='\n'
      i.rzfkomputer-whatsapp
    ='\n'
    .floating-chat__box
      .floating-chat__head
        .floating-chat__img
          ='\n'
          i.rzfkomputer-whatsapp
        .floating-chat__txt
          h3.floating-chat__txt-title Mulai Chat
      .floating-chat__body
        ul.floating-chat__menu
          li.floating-chat__item
            ='\n'
            a.floating-chat__link(href="https://api.whatsapp.com/send?phone=6285864772042&text=Hi%20RZF Komputer" target='_blank') (CS 1) Purwanto
          li.floating-chat__item
            ='\n'
            a.floating-chat__link(href="https://api.whatsapp.com/send?phone=6285864772039&text=Hi%20RZF Komputer" target='_blank') (CS 2) Nopitasari
        ='\n'
      ='\n'
// end-floating-chat
