//-------------------------------------------------------------------------------
  @name: Contact Button
  -------------------------------------------------------------------------------//

='\n'
// floating-chat
.floating-chat.js-contact-dd
  .floating-chat__wrapper
    ='\n'
    button.floating-chat__btn
      ='\n'
      i.rzfkomputer-whatsapp
      ='\n'
    ul.floating-chat__menu
      li.floating-chat__item
        ='\n'
        a.floating-chat__link(href="https://api.whatsapp.com/send?phone=6285864772042&text=Hi%20RZF Komputer") Purwanto
      li.floating-chat__item
        ='\n'
        a.floating-chat__link(href="https://api.whatsapp.com/send?phone=6285864772039&text=Hi%20RZF Komputer") Nopitasari
    ='\n'
='\n'
// floating-chat
