//-------------------------------------------------------------------------------
  @name: Component Our Product
  -------------------------------------------------------------------------------//

//our-product-items
.our-product__gallery__card
  .our-product__gallery__card__box
    .our-product__gallery__card__img-wrapper
      ='\n'
      a.our-product__gallery__card__link(href=data.to)
        ='\n'
        img.our-product__gallery__card__img-el(src='assets/img/dummy/'+data.img alt=data.alt)/
='\n'
