//-------------------------------------------------------------------------------
  @name: Product Detail
  -------------------------------------------------------------------------------//
//product-detail-item
//- .pdetail-box
//-   .pdetail-box__img-fluid
//-     img.pdetail-box__img-el(src='assets/img/dummy/'+data.img alt=data.title)/
//-   .pdetail-box__img-list
//-     .pdetails-box__img-items
//-       img.pdetails-box__img-el(src='assets/img/dummy/product-detail-1.png' alt='Produk Detail')/
//-     .pdetails-box__img-items
//-       img.pdetails-box__img-el(src='assets/img/dummy/product-detail-1.png' alt='Produk Detail')/
//-     .pdetails-box__img-items
//-     img.pdetails-box__img-el(src='assets/img/dummy/product-detail-1.png' alt='Produk Detail')/




