//-------------------------------------------------------------------------------
  @name: Component Sale
  -------------------------------------------------------------------------------//
//sale-items
.sale__content
  .sale__img
    ='\n'
    img.sale__img-el(src='assets/img/dummy/'+data.img alt=data.title)/
    ='\n'
  //- .sale__img-detail
  //-   h2.text-title Promo
  //-   .sale__img-detail__wrapper
  //-     .sale__img-detail__img
  //-       ='\n'
  //-       img(src='assets/img/dummy/lenovo-1.png' alt='Promo Detail')/
