//-------------------------------------------------------------------------------
  @name: Component Sale
  -------------------------------------------------------------------------------//
//sale-utems
.sale__content
  .sale__img
    ='\n'
    img.sale__img-el(src='assets/img/dummy/'+data.img alt=data.title)/
    ='\n'
  .sale__img-detail
.sale__content__txt
  h3 Exclusive Hot Deal and Soon
  p Who are in extremely love with eco friendly system.
  .sale__content__countdown
    ul.sale__content__countdown__list
      li.sale__content__countdown__item
        h5 29
        span Hari
      li.sale__content__countdown__item
        h5 12
        span Jam
      li.sale__content__countdown__item
        h5 10
        span Menit
      li.sale__content__countdown__item
        h5 30
        span Detik