//-------------------------------------------------------------------------------
  @name: Status Pemesanan
  -------------------------------------------------------------------------------//

='\n'
// status-pemesanan
.status
  h3.text-title Cek Status Pemesanan
  each val in data
    -
     data = val
    include ../components/
='\n'
// status-pemesanan