//-------------------------------------------------------------------------------
  @name: Why Choose Us
  -------------------------------------------------------------------------------//

//why-choose-us
.features__card
  .features__card__box
    .features__card__img
      ='\n'
      img.features__card__img-el(src='assets/img/dummy/'+data.img alt=data.title)/
    .features__card__txt
      h3.features__card__title
        | !{data.title}
      p.features__card__desc
        | !{data.desc}