.best-product__card {
  $sc: &;
  &:hover #{$sc}__box {
    @include shadow(14);
    &:hover #{$sc}__img__el {
      transform: translateY(-4px);
    }
  }
  &__box {
    @include shadow(10);
    min-height: 400px;
    transition: all .4s ease;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: color(white);
    @include large {
      min-height: 340px;
    }
    @include small {
      min-height: 380px;
    }
  }
  &__link {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  &__img {
    padding-bottom: 80%;
    margin-bottom: 24px;
    position: relative;
    @include small {
      height: 94px;
    }
    &__el {
      position: absolute;
      max-height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
      left: 0;
      transition: all 250ms ease;
    }
  }
  &__txt {
    text-align: left;
    padding: 24px;
  }
}
