.card-product__card {
  $npc: &;
  &:hover #{$npc}__box {
    @include shadow(14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    &:hover #{$npc}__img__el {
      transform: translateY(-4px);
    }
    &:hover #{$npc}__title {
      color: color(green, 1);
    }
  }
  &__box {
    position: relative;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    transition: all .4s ease;
    border-radius: 8px;
    overflow: hidden;
    background-color: color(white);
    @include remove-tap-highlight;
    @include large {
      min-height: 320px;
    }
    @include medium {
      min-height: 320px;
    }
    @include small {
      min-height: 420px;
    }
    @include extra-small {
      min-height: 240px;
    }
  }
  &__link {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-decoration: none;
  }
  &__img {
    padding-bottom: 91%;
    position: relative;
    overflow: hidden;
    &__el {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
      left: 0;
      transition: all 250ms ease;
    }
  }
  &__txt {
    text-align: left;
    padding: 24px 24px 48px;
    min-height: 160px;
    @include small {
      padding: 12px;
      min-height: 120px;
    }
  }
}