/* ==========================================================================
   Components Cart Lists
   ========================================================================== */

.cart-list {
  position: relative;
  &__items {
    background-color: color(white);
    position: absolute;
    z-index: 5;
    right: 0;
    top: 22px;
    width: 35%;
    padding: 18px;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 320px;
    @include scroll(y, no-touch, show);
    box-shadow: 0 0 16px 12px rgba(0,0,0,.4);
    @include shadow(16);
    transition: all 350ms ease;
    opacity: 0;
    visibility: hidden;
    @include scroll(y, touch, hide);
    @include medium {
      width: 50%;
      top: 42px;
    }
    @include extra-small {
      top: 40px;
      width: 90%;
    }
    @include retina {
      width: 100%;
    }
  }

  &__table {
    width: 100%;
    padding-bottom: 20px;
  }

  &__row {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px color(grey, 1);
  }

  &__img-wrapper {
    width: 120px;
    @include extra-small {
      width: 80px;
    }
    &__img-el {
      display: block;
    }
  }

  &__product {
    padding-left: 12px;
    &-name {
      color: color(green, 1);
      margin-bottom: 8px;
      @include font-size(14);
      @include small {
        @include font-size(12);
        margin-bottom: 4px;
      }
    }
    &-price {
      margin-bottom: 8px;
      @include small {
        @include font-size(12);
        margin-bottom: 4px;
      }
    }
    &-count {
      margin: 0;
      @include small {
        @include font-size(12);
      }
    }
  }

&__delete {
  &-btn {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    color: color(green, 1);
    @include font-size(16);
  }
}

&__total {
  padding: 20px 0;
  overflow: hidden;
  @include clearfix;
  &-name {
    float: left;
    @include font-size(16);
  }
  &-price {
    font-family: source sans pro;
    float: right;
    margin: 0;
    @include font-size(16);
  }
}

&__button {
  margin-top: 16px;
  text-align: center;
  display: block;
  width: 100%;
    &--row {
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      .btn--views,
      .btn--checkout {
        width: 100%;
      }
    }
  }

  &.showed > .cart-list__items {
    opacity: 1;
    visibility: visible;
    transform: translateY(-12px);
  }
}
