/* ==========================================================================
   Components Form
   ========================================================================== */

.form {
  &__control {
    position: relative;
    padding: 0;
    margin-bottom: 32px;
    @include small {
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__label {
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0 0 8px;
    @include small {
      @include font-size(14);
    }
  }
  &__input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    outline: none;
    color: color(black, 1);
    background-color: color(white);
    padding: 14px 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    outline: none;
    border: solid 2px color(grey, 5);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    transition: all 300ms ease;
    &:focus {
      border: solid 2px color(green, 1);
    }
    @include small {
      @include font-size(12);
    }
  }
  textarea {
    height: 120px;
    resize: vertical;
  }

  &__alert {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -24px;
    left: 0;
    @include font-size(12);
    margin-bottom: 0;
    font-weight: fw(regular);
    color: red;
    text-align: left;
    transform: translateY(4px);
    transition: all .35s ease;
    @include medium {
      margin-bottom: 4px;
    }
    @include extra-small {
      @include font-size(10);
      margin-top: 8px;
      margin-bottom: 6px;
    }
    .error & {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
    &::before {
      content: '\e91b';
      font-family: rzfkomputer-icons;
      padding-right: 4px;
      @include font-size(12);
      color: color(danger);
      @include extra-small {
        @include font-size(10);
      }
    }
  }
}
