/* ==========================================================================
   Components Contact
   ========================================================================== */

.contact__item {
  &__title {
    @include font-size(18);
    font-weight: fw(bold);
    margin-bottom: 14px;
    color: color(white);
    text-transform: uppercase;
    @include medium {
      @include font-size(14);
    }
  }
  &__sosmed {
    padding-left: 0;
    margin-bottom: 24px;
    font-size: 0;
    height: 46px;
    @include extra-small {
      margin-bottom: 16px;
    }
    &__item {
      height: 46px;
      width: 46px;
      list-style: none;
      display: inline-block;
      margin-right: 14px;
      position: relative;
      background-color: color(grey, 1);
      border-radius: 50%;
      transition: all 0.3s ease;
      filter: grayscale(100%);
      @include small {
        width: 40px;
        height: 40px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        filter: none;
        transform: translateY(-4px);
      }
      &__lnk {
        // background-color: green;
      }

    }
    &__vendors {
      position: absolute;
      top: 8px;
      left: 8px;
      bottom: 4px;
      width: 30px;
      transition: all 0.3s ease;
      @include small {
        width: 24px;
      }
    }
  }
  &__wa,
  &__phone {
    &__link {
      text-decoration: none;
      transition: all .3s ease;
      display: block;
      height: 100%;
      filter: grayscale(300%);
      &:hover {
        color: color(green, 1);
        filter: none;
      }
    }
    &__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      width: 26px;
      width: 26px;
    }
    &__number {
      font-weight: fw(semi-bold);
      margin-bottom: 20px;
      @include font-size(14);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}