/* ==========================================================================
   Components Contact Button
========================================================================== */

.floating-chat {
  $fc: &;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 8;
  text-align: center;
  @include small {
    right: 16px;
  }

  &__wrapper {
    position: relative;
  }

  &__btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 0;
    outline: 0;
    padding: 0;
    border-radius: 50%;
    background: color(whatsapp);
    color: color(white);
    @include font-size(14);
    @include shadow(12);
    @include remove-tap-highlight;
    transition: all .35s ease;
    i {
      display: inline-block;
      margin: 4px 0;
      @include font-size(20);
    }
  }

  &__box {
    opacity: 0;
    visibility: hidden;
    background-color: color(white);
    @include shadow(14);
    border-radius: 8px;
    width: 220px;
    position: absolute;
    bottom: 68px;
    right: 14px;
    transform: translateY(-16px);
    transition: all 250ms ease;
}

  &__head {
    background-color: color(whatsapp);
    color: color(white);
    border-radius: 8px;
    text-align: left;
    padding: 14px;
  }

  &__txt {
    &-title {
      text-align: left;
      @include font-size(14);
      margin-bottom: 0;
    }
    &-desc {
      text-align: left;
      @include font-size(14);
      margin-bottom: 8px;
    }
  }

  &__body {
    padding: 14px 12px;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    background-color: color(white);
    transition: all .4s ease;
    color: color(grey, 5);
    @include extra-small {
      right: 8px;
      bottom: 64px;
    }
  }

  &__item {
    text-align: left;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: color(grey, 4);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 14px;
    color: color(black, 1);
    font-family: $font-main;
    @include font-size(14);
    transition: all .35s ease;
    border-radius: 8px;
    border-left: solid 3px color(whatsapp);
    &:hover {
      background-color: color(whatsapp);
      color: color(white);
    }
    &::before {
      content: '\e91e';
      font-family: rzfkomputer-icons;
      padding-right: 6px;
    }
  }
  &--showed {
    #{$fc}__btn {
      background-color: color(whatsapp);
      color: color(white);
    }
    #{$fc}__box {
      opacity: 1;
      visibility: visible;
      transform: none;
      transform: scale(1.1);
      transition: all 250ms ease;
    }
  }
}
