/* ==========================================================================
   Components Contact Button
========================================================================== */

.floating-chat {
  $fc: &;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 8;
  text-align: center;
  @include small {
    right: 16px;
  }

  &__wrapper {
    position: relative;
  }

  &__btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 0;
    outline: 0;
    padding: 0;
    border-radius: 50%;
    background: color(whatsapp);
    color: color(white);
    @include font-size(14);
    @include shadow(12);
    @include remove-tap-highlight;
    transition: all .35s ease;
    i {
      display: inline-block;
      margin: 4px 0;
      @include font-size(20);
    }
  }

  &__menu {
    list-style: none;
    padding: 6px;
    margin: 0;
    width: 160px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 68px;
    right: 10px;
    border-radius: 4px;
    background-color: color(white);
    @include shadow(10);
    transform: translateY(16px);
    transition: all .4s ease;
    color: color(grey, 5);
    @include extra-small {
      right: 8px;
      bottom: 64px;
    }
  }

  &__item {
    text-align: center;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 14px;
    color: color(black, 1);
    font-family: $font-main;
    @include font-size(14);
    transition: all .35s ease;
    &:hover {
      background-color: color(whatsapp);
      color: color(white);
      border-radius: 4px;
    }
    &::before {
      content: '\e91e';
      font-family: rzfkomputer-icons;
      padding-right: 6px;
    }
  }
  &--show {
    #{$fc}__btn {
      background-color: color(whatsapp);
      color: color(white);
    }
    #{$fc}__menu {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}
