/* ==========================================================================
   Components: Hero Banner
   ========================================================================== */

.hero-banner {
  background-color: color(green, 3);
  &__item {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    min-height: 620px;
    position: relative; 
    height: auto;
    z-index: zi(banner-item);
    @include medium {
      height: 620px;
    }
    @include mq(540px) {
      height: 640px;
    }
    &::before {
      content: '';
      position: absolute;
      background: url(../img/bg/dots.svg) no-repeat center/100%;
      left: -34px;
      top: -108px;
      display: block;
      width: 100%;
      z-index: zi(banner-item);
      width: 300px;
      height: 300px;
      @include small {
        width: 200px;
        height: 200px;
      }
    }
    &::after {
      position: absolute;
      content: '';
      border-radius: 50%;
      background-image: linear-gradient(to right, rgb(56, 142, 60) 40%, rgb(134, 233, 65));
      left: -134px;
      bottom: -360px;
      z-index: -1;
      width: 500px;
      height: 500px;
      @include extra-small {
        display: none;
      }
    }
  }
  &__img {
    position: absolute;
    right: 0;
    z-index: zi(banner-img);
    width: 40%;
    height: 100%;
    // top: -60px;
    right: 120px;
    @include large {
      height: 100%;
      width: 60%;
    }
    @include small {
      padding: 20px 0;
      width: 100%;
      right: 0;
      position: relative;
      max-height: 320px;
    }
    @include extra-small {
      max-height: 280px;
    }
    &__el {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
    &:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      background-image: linear-gradient(to right, rgb(56, 142, 60) 40%, rgb(134, 233, 65));
      right: -184px;
      bottom: -280px;
      z-index: -1;
      width: 500px;
      height: 500px;
      @include small {
        display: none;
      }
    }
  }
  &__txt {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 120px 0;
    z-index: zi(banner-text);
    @include medium {
      padding: 68px 0 64px;
    }
    @include small {
      float: none;
      width: 100%;
      bottom: 60px;
      height: auto;
      padding: 48px 0;
    }

    &__wrapper {
      max-width: 500px;
      word-wrap: break-word;
      @include large {
        max-width: 460px;
      }
      @include medium {
        max-width: 364px;
      }
      @include small {
        max-width: 680px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
    &__middle-align {
      display: table-cell;
      vertical-align: middle;
    }

  &__title {
    font-family: $font-title;
    @include font-size(40);
    font-weight: fw(bold);
    margin-bottom: 8px;
    // color: color(white);
    color: color(black, 1);

    @include medium {
      @include font-size(32);
      margin-bottom: 12px;
    }

    @include mq(480px) {
      @include font-size(24);
    }
  }

  &__desc {
    @include font-size(18);
    font-weight: fw(regular);
    margin-bottom: 32px;
    color: color(grey, 2);
    @include medium {
      @include font-size(16);
    }
    @include small {
      @include font-size(14);
    }
  }
  &__btn {
    @include font-size(14);
    font-weight: fw(regular);
  }
}
