/* ==========================================================================
   Components: Our Product
   ========================================================================== */

.our-product {
   padding: 40px 0;
   background-color: color(grey, 3);
    &__list {
      margin-left: -12px;
      margin-right: -12px;
      font-size: 0;
      text-align: center;
      @include clearfix;
      @include small {
        margin-left: -8px;
        margin-right: -8px;
      }
      @include mq(480px) {
        margin: 0;
      }
    }

    &__card {
      $dc: &;
      display: inline-block;
      width: 55%;
      @include remove-tap-highlight;
      &::last-child {
        margin-right: 0;
      }
      @include small {
         width: 100%;
      }
      @include mq(480px) {
        &:last-child {
          #{$dc}__box {
            margin-bottom: 0;
          }
        }
      }
      &:nth-child(3n-2) {
        width: 44%;
        @include small {
         width: 100%;
        }
      }
      &:nth-child(3n+5) {
        width: 44%;
        @include small {
         width: 100%;
        }
      }
      &__box {
        height: 200px;
        margin: 0 12px 24px;
        background-color: color(overlay);
        position: relative;
        @include medium {
          height: 200px;
        }
        @include small {
          height: 240px;
          margin: 0 8px;
        }
      }

      &__img {
        &-wrapper {
          width: 100%;
          height: 100%;
          transition: all 350ms ease-in-out;
          &::after {
            position: absolute;
            content: '';
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 50%);
            display: block;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30%;
            transition: all 350ms ease-in-out;
            overflow: hidden;
            z-index: 5;
            border-radius: 12px;
          }
        }
        &-detail {
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translate(-50%, 50%);
          z-index: 6;
        }
        &-name {
          color: color(white);
          z-index: 8;
          text-transform: uppercase;
          width: 100%;
          display: inline-block;
          @include font-size(20);
          margin: 0;
          @include medium {
            @include font-size(16);
          }
        }

        &-el {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 12px;
        }
      }
    &__link {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__wrapper {
   margin-left: -18px;
   margin-right: -18px;
   max-width: initial;
   @include extra-small {
      margin-left: -16px;
      margin-right: -16px;
   }
   @include small {
      margin-left: -24px;
      margin-right: -24px;
      padding: 0 18px;
      white-space: nowrap;
      overflow: hidden;
      float: none;
      @include scroll(x, no-touch, hide);
      &:nth-child(3n-2) {
        width: 44%;
      }
       &:nth-child(3n+5) {
        width: 44%;
      }
    }
  } 
}