/* ==========================================================================
   Components: Sale
   ========================================================================== */

.sale__content__txt {
   color: color(white);
   width: 50%;
   position: absolute;
   left: 0;
   top: 15%;
   z-index: 4;
   padding: 120px;
   @include mq(1400px) {
      padding: 120px 0;
   }
   @include large {
      padding: 120px 0;
   }
   @include medium {
      padding: 0 20px;
      width: 100%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -10%);
   }
   @include small {
      top: 15%;
   }
   @include extra-small {
      top: 15%;
   }
   &__title {
      text-transform: uppercase;
      @include font-size(24);
      @include retina {
         @include font-size(18);
      }
   }
   &__desc {
      @include font-size(18);
      @include retina {
         @include font-size(16);
      }
   }
}

.sale__content__countdown {
   &__list {
      background-color: color(white);
      list-style: none;
      margin: 0 auto;
      padding: 0;
      border-radius: 8px;
      max-width: 480px;
      color: color(black, 1);
      margin-bottom: 24px;
      @include extra-small {
         padding: 12px 0;
      }
   }
   &__item {
      display: inline-block;
      margin-right: 24px;
      padding: 12px;
      &:last-child {
         margin-right: 0;
      }
      @include small {
         padding: 0;
         margin-right: 24px;
      }
      @include retina {
         margin-right: 12px;
      }
      &__number {
         @include font-size(24);
         @include retina {
            @include font-size(18);
         }
      }
      &__text {
         @include font-size(16);
         @include retina {
            @include font-size(12);
         }
      }
   }
}