/* ==========================================================================
   Components: Sale
   ========================================================================== */

.sale__content__txt {
   color: color(white);
   width: 50%;
   position: absolute;
   left: 10%;
   top: 25%;
   z-index: 4;
   transform: translate(0, 50%);
   @include large {
      top: 30%;
   }
   @include mq(1024px) {
      top: 20%;
   }
   @include medium {
      width: 100%;
      left: 50%;
      right: 50%;
      top: 45%;
      transform: translate(-50%, -10%);
   }
   @include small {
      padding: 48px 24px;
   }
   @include small {
      top: 25%;
   }
   @include extra-small {
      top: 25%;
   }
   &__alert-limited {
      padding: 48px 24px;
      margin: 64px 0;
      transition: all 350ms ease;
      font-weight: fw(semi-bold);
      text-transform: uppercase;
      @include font-size(24);
      .main-site--hide & {
         opacity: 0;
         transform: translate(-4px);
      }
   }
   &__title {
      text-transform: uppercase;
      @include font-size(24);
      @include retina {
         @include font-size(18);
      }
   }
   &__desc {
      @include font-size(18);
      @include retina {
         @include font-size(16);
      }
   }
}

.sale__content__countdown {
   &__list {
      background-color: color(white);
      list-style: none;
      margin: 0 auto;
      padding: 0;
      border-radius: 8px;
      max-width: 480px;
      color: color(black, 1);
      margin-bottom: 24px;
      @include small {
         padding: 12px 0;
      }
   }
   &__item {
      display: inline-block;
      margin-right: 24px;
      padding: 12px;
      &:last-child {
         margin-right: 0;
      }
      @include small {
         padding: 0;
         margin-right: 24px;
      }
      @include retina {
         margin-right: 12px;
      }
      &__number {
         @include font-size(24);
         @include retina {
            @include font-size(18);
         }
      }
      &__text {
         @include font-size(16);
         @include retina {
            @include font-size(12);
         }
      }
   }
}