/* ==========================================================================
   Components Why Choose Us
   ========================================================================== */


.features__card {
  $f: &;
  &:hover #{$f}__box {
    color: color(green, 1);
    &:hover #{$f}__img-el {
      transform: translateY(-6px);
    }
  }

  &__box {
    min-height: 260px;
    padding: 44px 16px;
    margin-right: 24px;
    border-radius: 12px;
    margin: 12px 24px;
    @include shadow(30);
    transition: all 350ms ease;
    @include small {
      min-height: 200px;
      padding: 22px 16px;
    }
  }

  &__img {
    margin-bottom: 24px;
    position: relative;
    &-el {
      display: block;
      text-align: center;
      transition: all 350ms ease;
      margin: 0 auto;
      // position: absolute;
      // bottom: 0;
      // top: 0;
    }
  }

  &__txt {

  }

  &__title {
    font-family: $font-title;
    margin-bottom: 8px;
    @include font-size(18);
    font-weight: fw(bold);
    text-transform: uppercase;
    @include large {
      margin-bottom: 16px;
    }
    @include small {
      @include font-size(18);
    }
  }
  &__desc {
    @include multiline-ellipsis(3);
    @include font-size(14);
    font-weight: fw(regular);
    margin: 0;
  }
}