/* ==========================================================================
   Components Why Choose Us
   ========================================================================== */


.features__card {
  $fc: &;
  &:hover #{$fc}__box {
    #{$fc}__title {
        color: color(green, 1);
      }
    &:hover #{$fc}__img-el {
      transform: translateY(-4px);
    }
  }

  &__box {
    min-height: 268px;
    padding: 44px 16px;
    margin-right: 24px;
    border-radius: 12px;
    margin: 12px 24px;
    @include shadow(10);
    transition: all 350ms ease;
    @include small {
      min-height: 200px;
      padding: 22px 16px;
    }
  }

  &__img {
    margin-bottom: 24px;
    position: relative;
    &-el {
      display: block;
      text-align: center;
      transition: all 350ms ease;
      margin: 0 auto;
      width: 80px;
      height: 80px;
    }
    @include small {
      margin-bottom: 12px;
    }
  }

  &__title {
    font-family: $font-title;
    margin-bottom: 8px;
    @include font-size(18);
    font-weight: fw(bold);
    text-transform: uppercase;
    transition: all 150ms ease;
    @include large {
      margin-bottom: 16px;
    }
    @include small {
      @include font-size(18);
      margin-bottom: 8px;
    }
  }
  &__desc {
    @include multiline-ellipsis(3);
    @include font-size(14);
    font-weight: fw(regular);
    margin: 0;
  }
}