/* ==========================================================================
   Grid System
   ========================================================================== */

.container {
  width: 100%;
  max-width: $mw-container;
  margin-left: auto;
  margin-right: auto;
  @include mq(1240px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include small {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.main-site {
  padding-top: 72px;
  @include medium {
    padding-top: 64px;
  }
}
