/* ==========================================================================
   Elements Burger Menu
   ========================================================================== */

.burger-menu {
  background-color: transparent;
  padding: 0;
  width: 48px;
  height: 48px;
  outline: 0;
  border: 0;
  cursor: pointer;
  &__bar {
    display: block;
    width: 26px;
    height: 2px;
    margin: 6px auto;
    border-radius: 1px;
    background-color: color(black, 1);
    transition-delay: 400ms;
    transform-origin: center center;
    &:nth-child(1) {
      width: 26px;
    }
    &:nth-child(2) {
      width: 26px;
    }
    &:nth-child(3) {
      width: 26px;
    }
  }
}
