/* ==========================================================================
   Elements Button
   ========================================================================== */

.btn {
  border: 0;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  min-width: 236px;
  padding: 11px 24px;
  border-radius: 24px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  @include font-size(16);
  font-weight: fw(semi-bold);
  background-color: transparent;
  @include shadow(16);
  border: 1px solid transparent;
  transition: all 350ms ease;
  @include remove-tap-highlight;
  @include small {
    @include font-size(14);
    min-width: 160px;
  }

  &--primary {
    color: color(white);
    background-image: linear-gradient(to right, color(green, 1) 50%, color(green, 2));
    background-size: 202% 2px;
    background-position: 60% center;
    &:hover {
      background-position: left center;
    }
  }


  &--secondary {
    background-color: transparent;
    color: color(green, 1);
    border-color: color(green, 1);
    box-shadow: none;

    &:hover {
      color: color(white);
      background-color: color(green, 1);
    }
  }

  &--block {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    i {
      padding-left: 8px;
    }
  }

  &--update {
    box-shadow: none;
    width: auto;
    border-radius: 8px;
    min-width: 40px;
  }

  &--small {
    @include small {
      @include font-size(12);
      width: auto;
      min-width: 185px;
      padding: 10px;
    }
  }

  &--confirmation {
    min-width: 285px;
    margin-right: 12px;
    @include extra-small {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include small {
      &--confirmation {
        width: 100%;
      }
    }
  }
}


// --- sweet-alert config custom

// button sweet-alert

.mr-12 {
  margin-right: 12px;
  @include small {
    margin-bottom: 12px;
    margin-right: 0;
  }
}

.w-100 {
  @include small {
  width: 100%;
  }
}

// font-size sweet-alert
.swal2-title {
  font-size: 28px !important;
}

.swal2-html-container {
  font-size: 16px !important;
}

// color success sweet-alert
.swal2-success-ring {
  color: #388e3c !important;
  border: solid 2px #388e3c !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #388e3c !important;
  border: solid 2px #388e3c !important;
}
