/* ==========================================================================
   Elements Icons
   ========================================================================== */

[class^="rzfkomputer-"], [class*=" rzfkomputer-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rzfkomputer-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rzfkomputer-notice1:before {
  content: "\e91d";
}
.rzfkomputer-minus:before {
  content: "\e918";
}
.rzfkomputer-arrow-right1:before {
  content: "\e910";
}
.rzfkomputer-arrow-left2:before {
  content: "\e911";
}
.rzfkomputer-search:before {
  content: "\e904";
}
.rzfkomputer-paper-plane:before {
  content: "\e919";
}
.rzfkomputer-send:before {
  content: "\e919";
}
.rzfkomputer-clear:before {
  content: "\e917";
}
.rzfkomputer-chevrons-down:before {
  content: "\e91a";
}
.rzfkomputer-chevron-right:before {
  content: "\e912";
}
.rzfkomputer-add:before {
  content: "\e91c";
}
.rzfkomputer-clear:before {
  content: "\e917";
}
.rzfkomputer-chevrons-down:before {
  content: "\e91a";
}
.rzfkomputer-chevron-right:before {
  content: "\e912";
}
.rzfkomputer-chevron-left:before {
  content: "\e913";
}
.rzfkomputer-chevron-down:before {
  content: "\e914";
}
.rzfkomputer-chevron-up:before {
  content: "\e915";
}
.rzfkomputer-envelope:before {
  content: "\e90a";
}
.rzfkomputer-notification:before {
  content: "\e91b";
}
.rzfkomputer-warning:before {
  content: "\e91b";
}
.rzfkomputer-notice:before {
  content: "\e91b";
}
.rzfkomputer-note:before {
  content: "\e91b";
}
.rzfkomputer-exclamation:before {
  content: "\e91b";
}
.rzfkomputer-whatsapp:before {
  content: "\e916";
}
.rzfkomputer-arrow-right:before {
  content: "\e90c";
}
.rzfkomputer-arrow-left1:before {
  content: "\e90d";
}
.rzfkomputer-arrow-down:before {
  content: "\e90e";
}
.rzfkomputer-arrow-up:before {
  content: "\e90f";
}
.rzfkomputer-arrow-left:before {
  content: "\e90b";
}
.rzfkomputer-phone:before {
  content: "\e905";
}
.rzfkomputer-telephone:before {
  content: "\e905";
}
// .rzfkomputer-contact:before {
//   content: "\e905";
// }
.rzfkomputer-support:before {
  content: "\e905";
}
.rzfkomputer-call:before {
  content: "\e905";
}
.rzfkomputer-location:before {
  content: "\e906";
}
.rzfkomputer-map-marker:before {
  content: "\e906";
}
.rzfkomputer-pin:before {
  content: "\e906";
}
.rzfkomputer-loop:before {
  content: "\e907";
}
.rzfkomputer-repeat:before {
  content: "\e907";
}
.rzfkomputer-player:before {
  content: "\e907";
}
.rzfkomputer-reload:before {
  content: "\e907";
}
.rzfkomputer-refresh:before {
  content: "\e907";
}
.rzfkomputer-update:before {
  content: "\e907";
}
.rzfkomputer-synchronize:before {
  content: "\e907";
}
.rzfkomputer-arrows:before {
  content: "\e907";
}
.rzfkomputer-bin:before {
  content: "\e908";
}
.rzfkomputer-trashcan:before {
  content: "\e908";
}
.rzfkomputer-remove:before {
  content: "\e908";
}
.rzfkomputer-delete:before {
  content: "\e908";
}
.rzfkomputer-recycle:before {
  content: "\e908";
}
.rzfkomputer-dispose:before {
  content: "\e908";
}
.rzfkomputer-cart:before {
  content: "\e909";
}
.rzfkomputer-purchase:before {
  content: "\e909";
}
.rzfkomputer-ecommerce:before {
  content: "\e909";
}
.rzfkomputer-shopping:before {
  content: "\e909";
}
.rzfkomputer-instagram:before {
  content: "\e900";
}
.rzfkomputer-youtube:before {
  content: "\e901";
}
.rzfkomputer-facebook:before {
  content: "\e902";
}
.rzfkomputer-twitter:before {
  content: "\e903";
}