extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "detail-produk";
    siteTitle = 'Detail Produk';

//- Body
block siteContent
  include ../layouts/product-detail.pug
  include detail-produk/detail-produk.pug