extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "cart";
    siteTitle = 'Keranjang Belanja';

//- Body
block siteContent
  //- Page Title
  include keranjang-belanja/title-page.pug
  //- Table Cart
  include ../layouts/cart.pug