extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "order-success";
    siteTitle = 'Order Success';

//- Body
block siteContent
  //- Title Page
  include order-success/title-page.pug
  //- Order Success
  include order-success/order-success.pug
