extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "produk";
    siteTitle = 'Produk';

//- Body
block siteContent
  //- Title Page
  include produk/title-page.pug
  //- Produk Page
  include produk/produk.pug
