extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "promo";
    siteTitle = 'Promo';

//- Body
block siteContent
  //- Title Page
  include promo/title-page.pug
  //- Sale Page
  include promo/promo.pug