//-------------------------------------------------------------------------------
  @name: Config
  @description: Config wesbite
  -------------------------------------------------------------------------------//

-
  // Suffix Title
  suffixSiteTitle = '| RZF Komputer | Computer and Peripheral Support';
  suffixSiteDescription = '| rzfkomputer';
  suffixSiteKeywords = 'rzfkomputer, indonesia';

  // Time Refresh
  timeRefresh = 1000;

  // Site Domain
  siteDomain = 'rzfkomputer.com';

  // Site URL
  siteURL = 'https://www.rzfkomputer.com';

  // Site Theme
  siteTheme = '#388e3c';

  // Author
  author = 'RZF Komputer';
  copyright = '2021 RZF Komputer. All Rights Reserved';

  // SEO Frienldy
  seoFriendly = true;
  cannonical = 'https://www.rzfkomputer.com';

  // OG Facebook
  ogFacebook = {
    enable: true,
    url: 'https://www.facebook.com/yudhi.heriyadi56',
    type: 'website',
    section: 'product',
    published_time: '2019-04-26 17:35:30T+07:00',
    modified_time: '2019-04-26 17:35:30T+07:00',
    expiration_time: '2019-04-26 17:35:30T+07:00',
    image: 'assets/img/default/og-facebook.jpg',
    imageType: 'image/jpeg'
  };

  // Twitter Card
  twitterCard = {
    enable: true,
    twitterId: '@rzfsoftware',
    sizeCard: 'summary_large_image',
    image: 'assets/img/default/twitter-card.jpg'
  };

  // Manifest
  manifest = 'assets/js/data/manifest.json';

  // Icons
  icons = {

    // Web Favicon
    webFavicon: 'assets/img/homescreen/favicon.ico',

    // Add to Home Screen
    homescreen: {

      // Android
      android: {
        s16: 'assets/img/homescreen/favicon-16x16.png',
        s32: 'assets/img/homescreen/favicon-32x32.png',
        s96: 'assets/img/homescreen/favicon-96x96.png',
        //- s144: 'assets/img/homescreen/android-icon-144x144.png',
        s192: 'assets/img/homescreen/android-icon-192x192.png'
      },

      // Microsoft
      microsoft: {
        s144: 'assets/img/homescreen/ms-icon-144x144.png'
      },

      // iOS
      iOS: {
        default: 'assets/img/homescreen/apple-icon.png',
        s57: 'assets/img/homescreen/apple-icon-57x57.png',
        s60: 'assets/img/homescreen/apple-icon-60x60.png',
        s72: 'assets/img/homescreen/apple-icon-72x72.png',
        s76: 'assets/img/homescreen/apple-icon-76x76.png',
        s114: 'assets/img/homescreen/apple-icon-114x114.png',
        s120: 'assets/img/homescreen/apple-icon-120x120.png',
        s144: 'assets/img/homescreen/apple-icon-144x144.png',
        s152: 'assets/img/homescreen/apple-icon-152x152.png',
        s180: 'assets/img/homescreen/apple-icon-180x180.png'
      }
    }
  };

  //- Social Media
  socialMedia = [
    {
      network: 'youtube',
      url: 'https://www.youtube.com/',
      logo: 'youtube'
    },
    {
      network: 'facebook',
      url: 'https://www.facebook.com/',
      logo: 'facebook'
    },
    {
      network: 'instagram',
      url: 'https://www.instagram.com/',
      logo: 'instagram-circle'
    },
    {
      network: 'twitter',
      url: 'https://twitter.com/',
      logo: 'twitter-circle'
    }
  ];

  //- holdTransitionClass
  holdTransitionClass = 'hold-transition';


  //=======================================================
  //--------------------- ASSETS --------------------------
  //=======================================================

  // CSS
  //--- CSS: Main
  cssMain = 'assets/css/app.min.css';

  //--- JS
  //--- JS: Vendor
  jsVendor = 'assets/js/vendor.min.js';

  //--- JS: Main
  jsMain = 'assets/js/app.min.js';
