-
  dataPromo = [
    {
      to: '#',
      img: 'laptop-asus-1.jpg',
      sale: 'On Sale',
      alt: 'Promo'
    },
    {
      to: '#',
      img: 'laptop-asus-2.jpg',
      sale: 'On Sale',
      alt: 'Promo'
    },
    {
      to: '#',
      img: 'laptop-asus-3.jpg',
      sale: 'On Sale',
      alt: 'Promo'
    }
  ]
  dataCategory = [
    {
      to: '#',
      img: 'our-product-1.jpg',
      alt: 'Komputer',
      text: 'Komputer'
    },
    {
      to: '#',
      img: 'our-product-2.jpg',
      alt: 'Laptop',
      text: 'Laptop'
    },
    {
      to: '#',
      img: 'our-product-3.jpg',
      alt: 'Printer',
      text: 'Printer'
    },
    {
      to: '#',
      img: 'our-product-4.jpg',
      alt: 'Aksesoris',
      text: 'Aksesoris'
    }
  ]
include ../../layouts/banner.pug
