-
  data = {
      title: 'Produk Baru',
      list: [
        {
          img: 'best-product-1.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000'
        },
        {
          img: 'best-product-2.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000'
        },
        {
          img: 'best-product-3.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000'
        },
        {
          img: 'best-product-4.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000'
        },
        {
          img: 'best-product-5.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000'
        },
        {
          img: 'best-product-6.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000'
        },
        {
          img: 'best-product-6.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000'
        },
        {
          img: 'best-product-6.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000'
        }
      ]
    };

include ../../layouts/best-product.pug
