-
  data = {
      title: 'Produk Baru',
      list: [
        {
          img: 'best-product-1.png',
          title: 'Flashdisk Ultra Seagate Linux Ubuntu Tes',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-2.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-3.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-4.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-5.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-6.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-2.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-1.png',
          title: 'Perangkat Kasir',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        }
      ]
    };

include ../../layouts/best-product.pug
