-
  templatesData = {
    title:'Kategori',
    btn: {
      to: 'produk.html',
      text: 'Lihat Selengkapnya'
    },
    tabs: [
      {
        name: 'Komputer',
        list: [
          {
            img: 'lenovo-1.png',
            title: 'Lenovo PC Core i3 Spek Gamming Ultra Ryzen',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'lenovo-1.png',
            title: 'Lenovo PC Core i3 Spek Gamming Ultra Ryzen',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'lenovo-1.png',
            title: 'Lenovo PC Core i3 Spek Gamming Ultra Ryzen',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'lenovo-1.png',
            title: 'Lenovo PC Core i3 Spek Gamming Ultra Ryzen',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'lenovo-1.png',
            title: 'Lenovo PC Core i3 Spek Gamming Ultra Ryzen',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'lenovo-1.png',
            title: 'Lenovo PC Core i3 Spek Gamming Ultra Ryzen',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
        ]
      },
      {
        name: 'Printer',
        list: [
          {
            img: 'printer-thermal.jpeg',
            title: 'Printer Thermal Epson 1234',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'printer-thermal.jpeg',
            title: 'Printer Thermal Epson 1234',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'printer-thermal.jpeg',
            title: 'Printer Thermal Epson 1234',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'printer-thermal.jpeg',
            title: 'Printer Thermal Epson 1234',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'printer-thermal.jpeg',
            title: 'Printer Thermal Epson 1234',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'printer-thermal.jpeg',
            title: 'Printer Thermal Epson 1234',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
        ]
      },
      {
        name: 'Laptop',
        list: [
          {
            img: 'laptop-hp.png',
            title: 'HP Ryzen 3 AMD Core i3 Ultra pHD',
            price: 'Rp7.99.000',
            to: 'product-detail.html'
          },
          {
            img: 'laptop-hp.png',
            title: 'HP Ryzen 3 AMD Core i3 Ultra pHD',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp7.99.000',
            to: 'product-detail.html'
          },
          {
            img: 'laptop-hp.png',
            title: 'HP Ryzen 3 AMD Core i3 Ultra pHD',
            price: 'Rp7.99.000',
            to: 'product-detail.html'
          },
          {
            img: 'laptop-hp.png',
            title: 'HP Ryzen 3 AMD Core i3 Ultra pHD',
            price: 'Rp7.99.000',
            to: 'product-detail.html'
          },
          {
            img: 'laptop-hp.png',
            title: 'HP Ryzen 3 AMD Core i3 Ultra pHD',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp7.99.000',
            to: 'product-detail.html'
          },
          {
            img: 'laptop-hp.png',
            title: 'HP Ryzen 3 AMD Core i3 Ultra pHD',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp7.99.000',
            to: 'product-detail.html'
          },
        ]
      },
      {
        name: 'Lain-lain',
        list: [
          {
            img: 'best-product-1.png',
            title: 'Sandisk Ultra Seagate Gytex Xyren 16GB',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'kertas-thermal.jpg',
            title: 'Kertas Thermal',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'best-product-3.png',
            title: 'TP Link',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'best-product-4.png',
            title: 'Logitech Mouse',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'scanner-barcode.jpg',
            title: 'Barcode Scanner',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'headphone.jpg',
            title: 'Headphone Gamming Red Black for Business and Gamming',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
          {
            img: 'cctv.jpg',
            title: 'CCTV',
            percentage: '20%',
            priceCarret: 'Rp120.0000',
            price: 'Rp143.000',
            to: 'product-detail.html'
          },
        ]
      }
    ]
  };

include ../../layouts/category.pug
