//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

-
  banner = [
      {
        title: 'Nyari laptop terjangkau? Di sini tempatnya...',
        desc: 'Dengan produk yang kami miliki diharapkan bisa memenuhi kebutuhan Anda. Dapatkan penawaran berkualitas dengan harga yang pantas',
        img: 'hero-banner.png',
        button: {
          status: true,
          to: 'apps.html',
          text: 'Lihat Produk'
        }
      },
      {
        title: 'Saya ingin hardware spek tinggi',
        desc: 'Dengan produk yang kami miliki diharapkan bisa memenuhi kebutuhan Anda. Dapatkan penawaran berkualitas dengan harga yang pantas',
        img: 'hero-banner-2.png',
        button: {
          status: true,
          to: 'providers.html',
          text: 'Download'
        }
      },
      {
        title: 'Tak perlu khawatir lagi soal originalitas barang..!!',
        desc: 'Dengan produk yang kami miliki diharapkan bisa memenuhi kebutuhan Anda. Dapatkan penawaran berkualitas dengan harga yang pantas',
        img: 'hero-banner-3.png',
        button: {
          status: true,
          to: 'providers.html',
          text: 'Learn more'
        }
      }
    ];

include ../../layouts/hero-banner.pug
