-
  data = {
      title: 'Produk Baru',
      to: 'produk.html',
      list: [
        {
          img: 'best-product-1.png',
          title: 'Sandisk Ultra Seagate Gytex Xyren 16GB',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-2.png',
          title: 'Printer Thermal',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-3.png',
          title: 'TP Link',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-4.png',
          title: 'Logitech Mouse',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-5.png',
          title: 'Barcode Scanner',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-6.png',
          title: 'Headphone Gamming Blue Black for Business and Gamming',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-2.png',
          title: 'Printer Thermal',
          price: 'Rp143.000',
          to: 'product-detail.html'
        },
        {
          img: 'best-product-1.png',
          title: 'Sandisk Ultra Seagate Gytex Xyren 16GB',
          percentage: '20%',
          priceCarret: 'Rp120.0000',
          price: 'Rp143.000',
          to: 'product-detail.html'
        }
      ]
    };

include ../../layouts/new-product.pug
