//-------------------------------------------------------------------------------
  @name: Our Product
  -------------------------------------------------------------------------------//

-
  ourProduct = {
    title: 'Produk Kami',
    list: [
      {
        img: 'our-product-1.jpg',
        title: 'Komputer Kasir',
        to: 'komputer.html'
      },
      {
        img: 'our-product-2.jpg',
        title: 'Laptop',
        alt: 'Laptop',
        to: 'laptop.html'
      },
      {
        img: 'our-product-3.jpg',
        title: 'Printer',
        to: 'printer.html'
      },
      {
        img: 'our-product-4.jpg',
        title: 'Aksesoris dan Lainnya',
        to: 'aksesoris-dan-lainnya.html'
      },
    ]
  };

include ../../layouts/our-product.pug