//-------------------------------------------------------------------------------
  @name: Our Product
  -------------------------------------------------------------------------------//

-
  ourProduct = {
    title: 'Produk Kami',
    list: [
      {
        img: 'our-product-1.png',
        title: 'Komputer',
        alt: 'Komputer',
        to: 'product.html'
      },
      {
        img: 'our-product-2.png',
        title: 'Laptop',
        alt: 'Laptop',
        to: 'product.html'
      },
      {
        img: 'our-product-3.png',
        title: 'Printer',
        alt: 'Printer',
        to: 'product.html'
      },
      {
        img: 'our-product-4.png',
        title: 'Lainnya',
        alt: 'Lainnya',
        to: 'product.html'
      }
    ]
  };

include ../../layouts/our-product.pug