//-------------------------------------------------------------------------------
  @name: Persuasive
  -------------------------------------------------------------------------------//

-
  persuasive = {
    list: [
      {
        img: 'persuasive-man.png',
        icons: 'subscribe.png'
      }
    ]
  }