//-------------------------------------------------------------------------------
  @name: Persuasive
  -------------------------------------------------------------------------------//

-
  dataPersuasive = {
    title: 'Siap bermitra dengan Kami?',
    desc: 'Dapatkan penawaran berkualitas dengan harga pantas',
    img: 'man.png',
    button: {
      to: 'produk.html',
      text: 'Langganan Sekarang'
    },
  }
include ../../layouts/persuasive.pug