//-------------------------------------------------------------------------------
  @name: Sale
  -------------------------------------------------------------------------------//

-
  dataSale = {
    title: 'Promo',
    list: [
      {
        title: 'Promo',
        desc: 'Dapatkan promo terbaik dari kami',
        img: 'sale-1.jpg',
        to: 'product.html'
      }
    ]
  };

include ../../layouts/sale.pug