//-------------------------------------------------------------------------------
  @name: Why Choose Us
  -------------------------------------------------------------------------------//

-
  dataFeatures = {
    title: 'Mengapa Memilih Kami',
    list: [
      {
        img: 'features-1.png',
        title: 'Barang original',
        desc: 'Khusus wilayah ciayumajakuning'
      },
      {
        img: 'features-2.png',
        title: 'Garansi Barang',
        desc: 'Selama barang masih 1 tahun'
      },
      {
        img: 'features-3.png',
        title: 'Support Handal',
        desc: 'Menerima pelayanan di jam kerja'
      },
      {
        img: 'features-4.png',
        title: 'Belanja Aman',
        desc: 'Kami menjaga privasi Anda'
      },
    ]
  };

include ../../layouts/why-choose-us.pug