-
  dataFeatures = {
  title: 'Apa saja yang akan kamu dapatkan dengan Rp 350.000?',
  btn: {
    status: true,
    to: 'buat-undangan.html',
    text: 'Buat Undangan Sekarang'
  },
    list: [
      {
        img: 'features-1.png',
        title: 'Bebas Pilih Domain',
        desc: 'Undanganmu semakin special dengan domain yang bisa kamu pilih.'
      },
      {
        img: 'features-2.png',
        title: 'Bebas Pilih Design Undangan',
        desc: 'Kamu bebas memilih design undangan mana yang kamu inginkan.'
      },
      {
        img: 'features-3.png',
        title: 'Daftar Tamu Undangan',
        desc: 'Kamu bisa melihat siapa saja tamu yang akan datang ke hari specialmu.'
      }
    ],
  };
include ../../layouts/how-to-order.pug