//-------------------------------------------------------------------------------
  @name: 404
  -------------------------------------------------------------------------------//

//page-not-found
.page-not-found
  .container
    .page-not-found__content
      .page-not-found__content__img
        ='\n'
        img.page-not-found__content__img__el(src='assets/img/dummy/404.svg' alt='Page Not Found')/
        ='\n'
      .page-not-found__content__txt
        h3.page-not-found__content__txt__title Maaf!
        p.page-not-found__content__txt__desc Halaman yang Anda cari tidak ditemukan!
      .page-not-found__content__txt__row
        ='\n'
        a.btn.btn--primary.btn--page-not-found(href='beranda.html') Kembali ke Beranda
        ='\n'
='\n'
//end-page-not-found