//-------------------------------------------------------------------------------
  @name: Contact Us
  -------------------------------------------------------------------------------//

// contact-us
.contact
  .contact__wrapper
    .contact__map
      ='\n'
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1251.2255115116825!2d108.40804199284523!3d-7.003046634087358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f3f75577f0109%3A0xdad2695f5b1b8fe2!2sRZF%20Software!5e0!3m2!1sid!2sid!4v1629180802542!5m2!1sid!2sid" width="100%" height="380" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
      ='\n'
    .container
      .contact__form
        h2.contact__title Apa yang ingin Anda sampaikan?
        form.form(action='contact.html' method='GET' autocomplete="off")
          .form__control
            ='\n'
            label.form__label(for='name') Nama
            ='\n'
            input.form__input(type='text' id='name' name='name' placeholder="Masukkan Nama" data-target="alertName")/
            p(class="form__alert" id="alertName" data-req="Nama tidak boleh kosong!")
            ='\n'
          .form__control
            ='\n'
            label.form__label(for='email') Email
            ='\n'
            input.form__input(type='text' id='email' name='email' placeholder="Masukkan Email" data-target="alertEmail")/
            p(class="form__alert" id="alertEmail" data-req="Email tidak boleh kosong!" data-invalid-email="Masukkan email yang valid!")
            ='\n'
          .form__control
            ='\n'
            label.form__label(for='message') Pesan
            ='\n'
            textarea.form__input(id="message" name='message' placeholder='Masukkan Pesan' data-target="alertMessage")
            p(class="form__alert" id="alertMessage" data-req="Pesan tidak boleh kosong!")
            ='\n'
          .form__control
            ='\n'
            button.btn.btn--block.btn--primary#js-submit.js-message(type="submit")
              ='\n'
              i.rzfkomputer-paper-plane 
              | Kirim
='\n'
// end-contact-us