//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

// hero-banner
.hero-banner.js-hero-banner
  each val in banner
    - data = val;
    include ../components/hero-banner.pug
='\n'
// hero-banner