//-------------------------------------------------------------------------------
  @name: New Product
  -------------------------------------------------------------------------------//
// card-product
.card-product.product
  .container
    .card-product__head
      h3.text-title !{data.title}
    .card-product__body
      .card-product__list
        each val in data.list
          -
            data = val
          include ../components/card-product.pug
    .card-product__footer
      ='\n'
      a.btn.btn--secondary(href='produk.html')
        | Lihat Selengkapnya
='\n'
// card-prosuct
