//-------------------------------------------------------------------------------
  @name: No Result Page
  -------------------------------------------------------------------------------//

//no-result-page
.no-result-page
  .container
    .no-result-page__content
      .no-result-page__img
        img.no-result-page__img__el(src='assets/img/dummy/no-result.svg' alt='Tidak DItemukan')/
      .no-result-page__txt
        p.no-result-page__txt__caption Pencarian Anda dengan kata kunci #[strong #{"qweqwe"}] tidak ditemukan!
='\n'
//end-no-result-page
