//-------------------------------------------------------------------------------
  @name: Product Page
  -------------------------------------------------------------------------------//

//product
.card-product(class=(navActive == 'produk' ? 'product' : ''))
  .container
    .product__wrapper
      .product__sorting.js-sorting-dd.js-sticky
        .product__sorting-select
          h3.product__sorting-title Kategori
          .product__sorting-list
            ='\n'
            a.product__sorting-link(href='komputer')
              | Komputer
            ='\n'
            a.product__sorting-link(href='laptop')
              | Laptop
            ='\n'
            a.product__sorting-link(href='printer')
              | Printer
            ='\n'
            a.product__sorting-link(href='lainnya')
              | Lainnya
            ='\n'
      .product__section
        each val in dataProduct.list
          -
            data = val
          include ../components/card-product.pug
    .product__paginate__bar    
      ul.product__paginate
        li.product__paginate__item.disabled
          ='\n'
          a.product__paginate__pagenumber(href='move-page.html')
            ='\n'
            i.rzfkomputer-arrow-left1
          ='\n'
        li.product__paginate__item
          ='\n'
          a.product__paginate__pagenumber(href='move-page.html') 1
          ='\n'
        li.product__paginate__item
          ='\n'
          a.product__paginate__pagenumber(href='move-page.html') 2
          ='\n'
        li.product__paginate__item
          ='\n'
          a.product__paginate__pagenumber(href='move-page.html') 3
          ='\n'
        li.product__paginate__item.dot
          ='\n'
          product__paginate__pagenumber 
          span ...
          ='\n'
        li.product__paginate__item
          ='\n'
          a.product__paginate__pagenumber(href='move-page.html')
            ='\n'
            i.rzfkomputer-arrow-right1
          ='\n'
='\n'
//why-choose-us
