//-------------------------------------------------------------------------------
  @name: Product Detail
  -------------------------------------------------------------------------------//
  
//product-detail
.pdetail
  .container
    .pdetail__wrapper
      .pdetail__row
        .pdetail__img
          .pdetail__img-wrapper
            img.pdetail__img-el(src='assets/img/dummy/our-product-1.png' alt='Tes')/

        //product-detail-form
        .pdetail__form
          form(action='#' method='POST' autocomplete='off')
            h3.pdetail__form__name Asus Ryzen 3 AMD
            .pdetail__form__summary Cocok untuk Anda yang suka bermain komputer
            .pdetail__form__count-wrapper
              h3.pdetail__form__price Harga :
              p Rp 4.500.000-,
              h3.pdetail__form__count Jumlah :
              button.pdetail__form__min(type='button' class='btnMin')
                ='\n'
                i.rzfkomputer-minus
              input.pdetail__form__quantity.js-input-qty(type='number' value='1' min='1' name='qty')/
              button.pdetail__form__max(type='button' class='btnMax')
                ='\n'
                i.rzfkomputer-add
            .pdetail__form__row
              button.btn.btn--primary.btn--cart(type='button')
                ='\n'
                i.rzfkomputer-cart
                | Masukkan Keranjang

//product-detail-tabs
.pdetail__tab.js-tabs
  ul.pdetail__tab__nav-tab
    li.tab-item.active(data-target='tabs-1') Deskripsi
    li.tab-item(data-target='tabs-2') Spesifikasi
  .container
    .tab-content
      .tab-pane.active(data-pane='tabs-1')
        h3.tab-pane__name Asus Ryzen 3 AMD Ultra Logic Gamming Super G-1850-MS
        p.tab-pane__desc Dengan bangga ASUS Indonesia kembali mengeluarkan produk terbaru di awal 2020. All-in-One MyPC U23 dengan tampilan  disign yang sangat elegan ringan dan  ramping, body nya yang sangat slim hanya dengan ketebalan 0.7 cm. Ditambah lagi dengan layar slim-bezel sebesar 21.5” FHD IPS yang sangat luas membuat aktivitas semakin bersemangat, memanjakan mata anda dengan kualitas grafik yang bagus. PC ini sangat cocok untuk semua kalangan  baik untuk pemula, pelajar mahasiswa  gamer bahkan  disign grafis  dengan di tunjang dengan spesifikasi hebat sbb:
      .tab-pane(data-pane='tabs-2')
        table
          thead
            tr
              th.skin-light(scope='row') Merek
              td.skin-light ASUS
          tbody
          tr
            th.skin-grey(scope='row') Stok
              td.skin-grey 5
          tr
            th.skin-light(scope='row') Operating System
              td.skin-light Windows 10
          tr
            th.skin-grey(scope='row') Prosesor
              td.skin-grey AMD A6-6400 Dual Core (3.9 GHZ)
          tr
          th.skin-light(scope='row') Mainboard
              td.skin-light Biostar Hifi A70U3P (VGA Onboard 2GB)
          tr
            th.skin-grey(scope='row') RAM
              td.skin-grey V-GEN DDR3 8GB (2X4GB) PC 12800
          tr
            th.skin-light(scope='row') Harddisk
              td.skin-light  SEAGATE 500GB
          tr
            th.skin-grey(scope='row') Casing
              td.skin-grey  Powelogic Futura NEO + PSU 450 W
