//-------------------------------------------------------------------------------
  @name: Product Detail
  -------------------------------------------------------------------------------//
  
// product-detail
.pdetail
  .container
    .pdetail__wrapper
      .pdetail__row
        .pdetail__img
          .pdetail__img-fill
            ='\n'
            a.js-popup-image(href='assets/img/dummy/our-product-1.png' alt='Tes')
              img.pdetail__img-el(src='assets/img/dummy/our-product-1.png' alt='Tes')/
          .pdetail__img-detail
            .pdetail__img-box
              .pdetail__img-img
                ='\n'
                a.js-popup-image(href='assets/img/dummy/man.png' alt='Tes')
                  img.pdetail__img-el-d(src='assets/img/man.png' alt='Tes')/
            .pdetail__img-box
              .pdetail__img-img
                ='\n'
                a.js-popup-image(href='assets/img/dummy/tes2.jpg' alt='Tes')
                  img.pdetail__img-el-d(src='assets/img/dummy/tes2.jpg' alt='Tes')/
            .pdetail__img-box
              .pdetail__img-img
                ='\n'
                a.js-popup-image(href='assets/img/dummy/best-product-4.png' alt='Tes')
                  img.pdetail__img-el-d(src='assets/img/dummy/best-product-4.png' alt='Tes')/

        //product-detail-form
        .pdetail__form
          form(action='keranjang-belanja.html' method='get' autocomplete='off')
            h3.pdetail__form__name Asus Ryzen 3 AMD
            .pdetail__form__summary Cocok untuk Anda yang suka bermain komputer
            .pdetail__form__count-wrapper
              h3.pdetail__form__info Ukuran :
              ul.pdetail__size
                li.pdetail__size__item
                  ='\n'
                  input.pdetail__size__input(type='radio' name='size' value='16GB')/
                  ='\n'
                  span.pdetail__size__box 16GB
                  ='\n'
                li.pdetail__size__item
                  ='\n'
                  input.pdetail__size__input(type='radio' name='size' value='32GB')/
                  ='\n'
                  span.pdetail__size__box 32GB
                  ='\n'
                li.pdetail__size__item
                  ='\n'
                  input.pdetail__size__input(type='radio' name='size' value='64GB')/
                  ='\n'
                  span.pdetail__size__box 64GB
                  ='\n'
                li.pdetail__size__item
                  ='\n'
                  input.pdetail__size__input(type='radio' name='size' value='72GB')/
                  ='\n'
                  span.pdetail__size__box 72GB
                  ='\n'
              h3.pdetail__form__info Warna :
              ul.pdetail__color
                li.pdetail__color__item
                  ='\n'
                  input.pdetail__color__input(type='radio' name='color' value='Blue Black')/
                  ='\n'
                  span.pdetail__color__box Blue Black
                  ='\n'
                li.pdetail__color__item
                  ='\n'
                  input.pdetail__color__input(type='radio' name='color' value='Green')/
                  ='\n'
                  span.pdetail__color__box Green
                  ='\n'
                li.pdetail__color__item
                  ='\n'
                  input.pdetail__color__input(type='radio' name='color' value='Red')/
                  ='\n'
                  span.pdetail__color__box Red
                  ='\n'
                li.pdetail__color__item
                  ='\n'
                  input.pdetail__color__input(type='radio' name='color' value='Gold')/
                  ='\n'
                  span.pdetail__color__box Gold
                  ='\n'
              h3.pdetail__form__info Kategori :
              p Komputer
              h3.pdetail__form__info Harga :
              p.price-ori.js-price Rp 4.500.000
              span.price-discount Rp 2.000.000
              h3.pdetail__form__info Stok Tersedia : 
              p.js-inventory 6
              h3.pdetail__form__count Jumlah :
            .pdetail__form__row
              button.pdetail__form__min(type='button' class='btnMin')
                ='\n'
                i.rzfkomputer-minus
              input.pdetail__form__quantity.js-input-qty(type='number' value='1' min='1' name='qty')/
              button.pdetail__form__max(type='button' class='btnMax')
                ='\n'
                i.rzfkomputer-add
              p.inventory-alert Maks. pembelian barang ini 1 item, kurangi pembelianmu, ya!
            .pdetail__form__row
              a.btn.btn--primary.btn--cart(href='keranjang-belanja.html')
                ='\n'
                i.rzfkomputer-cart
                | Masukkan Keranjang

//product-detail-tabs
.pdetail__tab.js-tabs
  ul.pdetail__tab__nav-tab
    li.tab-item.active(data-target='tabs-1') Deskripsi
    li.tab-item(data-target='tabs-2') Spesifikasi
  .container
    .tab-content
      .tab-pane.active(data-pane='tabs-1')
        h3.tab-pane__name Asus Ryzen 3 AMD Ultra Logic Gamming Super G-1850-MS
        p.tab-pane__desc Dengan bangga ASUS Indonesia kembali mengeluarkan produk terbaru di awal 2020. All In One MyPC U23 dengan tampilan  design yang sangat elegan, ringan dan ramping. Body nya yang sangat slim hanya dengan ketebalan 0.7 cm. Ditambah lagi dengan layar slim-bezel sebesar 21.5” FHD IPS yang sangat luas membuat aktivitas semakin bersemangat. Memanjakan mata Anda dengan kualitas grafik yang bagus. PC ini sangat cocok untuk semua kalangan baik untuk pemula, pelajar mahasiswa  gammer bahkan design grafis dengan ditunjang dengan spesifikasi hebat.
      .tab-pane(data-pane='tabs-2')
        table.customers
          thead
          tbody
            tr
              td Stok
              td 5
            tr
              td Operating System
              td Windows 10
            tr
              td Prosesor
              td AMD A6-6400 Dual Core (3.9 GHZ)
            tr
              td Mainboard
              td Biostar Hifi A70U3P (VGA Onboard 2GB)
            tr
              td RAM
              td V-GEN DDR3 8GB (2X4GB) PC 12800
            tr
              td Harddisk
              td SEAGATE 500GB
            tr
              td Casing
              td Powelogic Futura NEO + PSU 450 W
='\n'
// product-detail