//-------------------------------------------------------------------------------
  @name: Promo Page
  -------------------------------------------------------------------------------//

//sale
.card-product(class=(navActive == 'promo' ? 'Promo' : ''))
  .container
    .product__wrapper
      each val in dataPromo.list
        -
          data = val
        include ../components/card-product.pug
='\n'
//sale