//-------------------------------------------------------------------------------
  @name: Layouts Sale
  -------------------------------------------------------------------------------//
='\n'
// sale
.sale
  each val in dataSale.list
    -
      data = val
    include ../components/sale.pug
  .container
    .row
      .sale__content__txt
        h3.sale__content__txt__title Promo Eksklusif menanti untuk Anda
        p.sale__content__txt__desc Dapatkan penawaran terbatas dari kami dan jangan sampai ketinggalan
        .sale__content__countdown
          ul.sale__content__countdown__list.js-countdown-set
            li.sale__content__countdown__item
              h5.sale__content__countdown__item__number 29
              ='\n'
              span.sale__content__countdown__item__title__text Hari
            li.sale__content__countdown__item
              h5.sale__content__countdown__item__number 12
              ='\n'
              span.sale__content__countdown__item__title__text Jam
            li.sale__content__countdown__item
              h5.sale__content__countdown__item__number 10
              ='\n'
              span.sale__content__countdown__item__title__text Menit
            li.sale__content__countdown__item
              h5.sale__content__countdown__item__number 30
              ='\n'
              span.sale__content__countdown__item__title__text Detik
            ='\n'
          ='\n'
          a.btn.btn--primary(href='promo.html') Lihat Promo
='\n'
// end sale