//-------------------------------------------------------------------------------
  @name: Status Pemesanan
  -------------------------------------------------------------------------------//

//Order status
.order
  .container
    h3.order__title Order ID
    form.order__form(action='#' method='post')
      input.form__input(type='number' placeholder='Masukkan Order ID Anda')/
      p.form__desc Order ID dapat dilihat di e-receipt yang dikirimkan ke email Anda. Apabila sudah membayar namun tidak menerima e-receipt, Anda dapat menghubungi kami di rzfkomputer@gmail.com
        .order__row
          p Order ID yang Anda masukkan tidak valid. Silakan cek kembali!
      .fi-row
        button.btn.btn--primary.btn--payment(type='submit') Lacak Pesanan Saya
    .order__box
      h3.order__title Status Order
      ul.order__list
        li.order__item.active Menunggu Pembayaran
        li.order__item Pembayaran Diterima
        li.order__item Produk sedang dalam pengantaran
        li.order__item Produk telah sampai