//-------------------------------------------------------------------------------
  @name: Status Pemesanan
  -------------------------------------------------------------------------------//

//Order status
.order
  .container
    h3.order__title Nomor Order
    .order__form(action='#' method='get')
      input.form__input(type='number' placeholder='Masukkan Nomor Order')/
      p.form__desc Nomor dapat dilihat di e-receipt yang dikirimkan ke email Anda. Apabila sudah membayar namun tidak menerima e-receipt, Anda dapat menghubungi kami di rzfkomputer@gmail.com
      .fi-row
        button.btn.btn--primary.btn--payment.js-show-order(type='submit') Lacak Pesanan Saya
    .order__box
      h3.order__title Status Order
      ul.order__list
        li.order__item.active Menunggu Pembayaran
        li.order__item Pembayaran Diterima
        li.order__item Produk sedang dalam pengantaran
        li.order__item Produk telah sampai