//-------------------------------------------------------------------------------
  @name: Status Pemesanan
  -------------------------------------------------------------------------------//

//Order status
.order
  .container
    h3.order__title Nomor Order
    .order__form(action='#' method='get')
      input.form__input(type='number' placeholder='Masukkan Nomor Order')/
      p(class="form__alert" id="alertPhone" data-req="Nomor tidak boleh kosong!" data-invalid-phone="Masukkan nomor yang valid!")
      p.form__desc Nomor dapat dilihat di e-receipt yang dikirimkan ke email, apabila sudah membayar namun tidak menerima e-receipt Anda dapat menghubungi kami ke rzfkomputer@gmail.com
      .fi-row
        button.btn.btn--primary.btn--payment.js-show-order(type='submit') Cek Status
    .order__box
      h3.order__title Status Order
      ul.order__list
        li.order__item Menunggu Pembayaran
        li.order__item Pembayaran Diterima
        li.order__item Prok Sedang dalam pengantaran
        li.order__item Produk telah sampai