//-------------------------------------------------------------------------------
  @name: Why Choose Us
  -------------------------------------------------------------------------------//

//why-choose-us
.features
  .container
    h3.text-title
      | !{dataFeatures.title}
    .features__wrapper
      each val in dataFeatures.list
        -
          data = val
        include ../components/why-choose-us.pug
='\n'
//why-choose-us

