/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  green: (
    1: #388e3c,
    2: #7cd43e,
    3: #eff5ef,
    4: #a0dca0
  ),
  black: (
    1: #333,
    2: #4f4f4f,
    3: #828282,
    4: #bdbdbd,
    5: #0d0d1f
  ),
  grey: (
    1: #eff2f3,
    2: #4a4a4a,
    3: #f9f9f9,
    4: #f2f2f2,
    5: #ced4da,
    6: #dee2e6,
    7: #ddd
  ),
  white: #fff,
  overlay: rgba(#000, .5),
  facebook: #4267b2,
  instagram: #c13584,
  whatsapp: #4fce5d,
  youtube: #ff0000,
  mail: #ea4335,
  danger: #ff0000
);
