/* ==========================================================================
   Variable: Shadow
   ========================================================================== */

$shadow-8: 0 2px 8px rgba(#000, .16);
$shadow-10: 0 4px 10px rgba(0, 0, 0, 0.08);
$shadow-12: 0 6px 10px rgba(0, 0, 0, .5);
$shadow-16: 0 4px 16px rgba(97, 71, 74, 0.4);
$shadow-32: 0px 4px 32px 4px rgba(0, 0, 0, 0.04);