/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  overlay: -1,
  header-contact-item: 1,
  header-burger-menu: 2,
  header-logo: 2,
  header-content-shadow: 1,
  footer: 1,
  footer-bg: 1,
  footer-content: 2,
  footer-sosmed-icon: 1,
  footer-sosmed-link: 2,
  cardLink: 1,
  carouselGradient: 1,
  carouselNav: 2,
  blog-detail: -1,
  card-img-el: 1,
  tab-control: 4,
  tab-control-item-before: 1,
  banner-item: 2,
  banner-item-before: 1,
  banner-item-after: -1,
  banner-img: 1,
  banner-img-before: -1,
  banner-img-after: -2,
  banner-text: 2,
  banner-tag: 2
);
