extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "kontak-kami";
    siteTitle = 'Kontak Kami';

//- Body
block siteContent
  //- Page title
  include kontak-kami/title-page.pug
  //- Hero Banner
  include home/hero-banner.pug