/* ==========================================================================
   Mixin Font Size
   ========================================================================== */

@mixin font-size($name) {
  font-size: fz(f#{$name});
  line-height: lh(f#{$name});
}