/* ==========================================================================
   Mixin: Shadow
   ========================================================================== */

@mixin shadow($size) {
  @if $size == 16 {
    box-shadow: $shadow-16;
  } @else if $size == 10 {
    box-shadow: $shadow-10;
  } @else {
    box-shadow: $shadow-8;
  }
}